Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,css,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/*'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/*'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore: Use TypeScript 7.0
  .gitignore
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  eslint.config.ts
  package.json
  yarn.lock
Due: prettier

chore: update yarn.lock
  yarn.lock
Due: none

chore: update lockfile
  yarn.lock
Due: none

chore: update yarn lockfile
  yarn.lock
Due: none

chore: Remove ESLint
  .github/dependabot.yml
  .gitignore
  .oxlintrc.json
  .prettierignore
  AGENTS.md
  eslint.config.ts
  lefthook.yml
  package.json
  packages/bamboohr.com/src/interfaces/Employee.ts
  packages/bamboohr.com/src/interfaces/Fields.ts
  packages/imgflip.com/src/Imgflip.test.ts
  packages/imgflip.com/src/interfaces.ts
  packages/libraries.io/src/interfaces/Options.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(deps): Bump typescript to 7.0.2
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/useresponse/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, oxlint, eslint

ci: Disable docs creation [ci skip]
  .github/workflows/build_test_publish.yml
Due: prettier

chore: linting
  .github/workflows/build_test_publish.yml
Due: prettier

chore(deps): Bump undici to 7.29.0
  yarn.lock
Due: none

update lockfile
  yarn.lock
Due: none

add vite
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/useresponse/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, oxlint, eslint

build: migrate release tooling from semantic-release to nx release
  .github/workflows/build_test_publish.yml
  .gitignore
  .releaserc.json
  nx.json
  package.json
  yarn.lock
Due: prettier

ci: migrate release tooling from semantic-release to nx release (#2136)
  .github/workflows/build_test_publish.yml
  .gitignore
  .releaserc.json
  nx.json
  package.json
  yarn.lock
Due: prettier

chore(release): publish [skip ci]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/useresponse/CHANGELOG.md
  packages/useresponse/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

chore: Remove typescript-eslint
  .oxlintrc.json
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore: Remove typescript-eslint (#2137)
  .oxlintrc.json
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore: Add timezone to workflow cron settings [ci skip]
  .github/workflows/yarn_update.yml
Due: prettier

chore: Replace prettier with oxfmt
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: Replace prettier with oxfmt (#2153)
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Bump @ffflorian/oxfmt-config to 1.3.0
  .prettierignore
  oxfmt.config.ts
  package.json
  yarn.lock
Due: prettier

chore(deps): bump yarn to version 4.18.1
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: group oxfmt and oxlint [ci skip]
  .github/dependabot.yml
Due: prettier
