Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore(release): 3.4.6 [skip ci]
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  c46bb4f1d92557f0e36b1cd05ed0f9e3b2570f0f
Due: none

chore(release): 3.4.6 [skip ci]
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  44aa79d4794d66affb1e650851241836a7cb691c
Due: none

chore(release): 3.4.6 [skip ci]
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  3209328b6090cf8829aa725c9d16de467db11e15
Due: none

chore: Disable scripts in yarn config
  .yarnrc.yml
Due: prettier

chore: Ignore CLAUDE.md when linting
  lefthook.yml
Due: prettier

chore: Use pipefail for workflow
  .github/workflows/build_test_publish.yml
  .prettierignore
Due: prettier

chore: Pin actions/upload-artifact
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Update config packages and release config
  .releaserc.json
  package.json
  yarn.lock
Due: prettier

docs: Add table to readme
  README.md
Due: prettier

chore: Replace workflows with @ffflorian/actions
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: Add workflow_dispatch to yarn_update workflow
  .github/workflows/yarn_update.yml
Due: prettier

chore: Use npx --no [ci skip]
  lefthook.yml
Due: prettier

docs: Improve AGENTS.md [ci skip]
  AGENTS.md
Due: prettier

chore: Fix lefthook commands [ci skip]
  lefthook.yml
Due: prettier

docs: Add Copilot instructions [ci skip]
  .github/copilot-instructions.md
Due: prettier

chore: Add force-release workflow
  .github/workflows/force-release.yml
Due: prettier

fix: Run build:ts in all packages
  package.json
Due: prettier

fix: Run build:ts in all packages (#1912)
  package.json
Due: prettier

chore: Use build in all packages
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

Update package.json
  packages/bamboohr.com/package.json
Due: prettier, oxlint, eslint

Update package.json
  packages/c3nav/package.json
Due: prettier, oxlint, eslint

fix build script
  .github/workflows/build_test_publish.yml
Due: prettier

fix: Use yarn build in all packages (#1914)
  .github/workflows/build_test_publish.yml
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

chore(release): npms.io@2.4.7 [skip ci]
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  630ee7884e6da4c7762f6921515c86091ea4cbf3
Due: none

chore(release): absence.io@2.4.7 [skip ci]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  6dc89dd8880e0a471fcbafbe4a0f7aa40ef36f78
Due: none

Path conditions:
  prettier: any of: *.{js,ts,css,md,json,yml,yaml}
  oxlint: any of: packages/*
  eslint: any of: packages/*
