Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  3b495bc8b7c8d0585dd78d4b1f728048c1a9bbfb
Due: none

chore(release): @ffflorian/icanhazdadjoke@2.6.0 [skip ci]
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  db4703e08a488cb9f80786aad6fb8d08d929dde0
Due: none

chore(release): npms.io@2.6.0 [skip ci]
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  cfca199695e210e3dd0c1c2b2cf3976d0f31466a
Due: none

chore: Try TypeScript 7.0
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, oxlint, eslint

feat(bamboohr.com): Improve API (#1944)
  packages/bamboohr.com/package.json
  packages/bamboohr.com/src/BambooHR.test.ts
  packages/bamboohr.com/src/BambooHR.ts
  packages/bamboohr.com/src/Endpoints.ts
  packages/bamboohr.com/src/api/EmployeesAPI.ts
  packages/bamboohr.com/src/api/TimeOffAPI.ts
  packages/bamboohr.com/src/interfaces/Employee.ts
  packages/bamboohr.com/src/interfaces/EmployeesList.ts
  packages/bamboohr.com/src/interfaces/TimeOffRequestsOptions.ts
  packages/bamboohr.com/src/interfaces/index.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): bamboohr.com@1.7.0 [skip ci]
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  f8a4ba74072b729a41f27a55259bdd7e8df38fb2
Due: none

feat(crates.io): Improve API (#1942)
  packages/crates.io/README.md
  packages/crates.io/package.json
  packages/crates.io/src/CratesIO.test.ts
  packages/crates.io/src/CratesIO.ts
  packages/crates.io/src/Endpoints.ts
  packages/crates.io/src/api/CratesAPI.ts
  packages/crates.io/src/interfaces/Crate.ts
  packages/crates.io/src/interfaces/Keyword.ts
  packages/crates.io/src/interfaces/Options.ts
  packages/crates.io/src/interfaces/Result.ts
  packages/crates.io/src/interfaces/Team.ts
  packages/crates.io/src/interfaces/User.ts
  packages/crates.io/src/interfaces/Version.ts
  yarn.lock
Due: prettier, oxlint, eslint

docs: Rebuild docs [ci skip]
  docs/packages/crates.io/assets/hierarchy.js
  docs/packages/crates.io/assets/navigation.js
  docs/packages/crates.io/assets/search.js
  docs/packages/crates.io/classes/CratesAPI.html
  docs/packages/crates.io/classes/CratesIO.html
  docs/packages/crates.io/hierarchy.html
  docs/packages/crates.io/index.html
  docs/packages/crates.io/interfaces/API.html
  docs/packages/crates.io/interfaces/AuthorsResult.html
  docs/packages/crates.io/interfaces/CategoriesResult.html
  docs/packages/crates.io/interfaces/Category.html
  docs/packages/crates.io/interfaces/CategoryResult.html
  docs/packages/crates.io/interfaces/ClientOptions.html
  docs/packages/crates.io/interfaces/Crate.html
  docs/packages/crates.io/interfaces/CrateResult.html
  docs/packages/crates.io/interfaces/DependenciesResult.html
  docs/packages/crates.io/interfaces/Dependency.html
  docs/packages/crates.io/interfaces/Download.html
  docs/packages/crates.io/interfaces/DownloadsResult.html
  docs/packages/crates.io/interfaces/FollowingResult.html
  docs/packages/crates.io/interfaces/Keyword.html
  docs/packages/crates.io/interfaces/KeywordResult.html
  docs/packages/crates.io/interfaces/KeywordsResult.html
  docs/packages/crates.io/interfaces/OkResult.html
  docs/packages/crates.io/interfaces/PaginationOptions.html
  docs/packages/crates.io/interfaces/ReverseDependenciesResult.html
  docs/packages/crates.io/interfaces/SearchOptions.html
  docs/packages/crates.io/interfaces/SearchResult.html
  docs/packages/crates.io/interfaces/Summary.html
  docs/packages/crates.io/interfaces/Team.html
  docs/packages/crates.io/interfaces/TeamsResult.html
  docs/packages/crates.io/interfaces/UrlResult.html
  docs/packages/crates.io/interfaces/User.html
  docs/packages/crates.io/interfaces/UsersResult.html
  docs/packages/crates.io/interfaces/Version.html
  docs/packages/crates.io/interfaces/VersionResult.html
  docs/packages/crates.io/interfaces/VersionsResult.html
  docs/packages/crates.io/modules.html
Due: prettier

chore(release): crates.io@2.5.0 [skip ci]
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  5a2b939992485cd190769ecc6ce334f498769b62
Due: none

feat(c3nav): Improve API (#1943)
  packages/c3nav/package.json
  packages/c3nav/src/Endpoints.test.ts
  packages/c3nav/src/Endpoints.ts
  packages/c3nav/src/api/EditorAPI.ts
  packages/c3nav/src/api/LocationsAPI.ts
  packages/c3nav/src/api/MapAPI.test.ts
  packages/c3nav/src/api/MapAPI.ts
  packages/c3nav/src/api/MeshAPI.ts
  packages/c3nav/src/api/PositioningAPI.ts
  packages/c3nav/src/api/RoutingAPI.test.ts
  packages/c3nav/src/api/RoutingAPI.ts
  packages/c3nav/src/api/SessionAPI.test.ts
  packages/c3nav/src/api/SessionAPI.ts
  packages/c3nav/src/api/UpdatesAPI.ts
  packages/c3nav/src/api/index.ts
  packages/c3nav/src/c3nav.ts
  packages/c3nav/src/interfaces/API.ts
  packages/c3nav/src/interfaces/Editor.ts
  packages/c3nav/src/interfaces/Map.ts
  packages/c3nav/src/interfaces/Mesh.ts
  packages/c3nav/src/interfaces/Positioning.ts
  packages/c3nav/src/interfaces/Routing.ts
  packages/c3nav/src/interfaces/Session.ts
  packages/c3nav/src/interfaces/Updates.ts
  packages/c3nav/src/interfaces/index.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): c3nav@3.5.0 [skip ci]
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  c0193c315bbe7a0d6eb5f09e692f7b169651bc0c
Due: none

feat(updown.io): Improve API (#1936)
  packages/updown.io/package.json
  packages/updown.io/src/Endpoints.ts
  packages/updown.io/src/UpdownIO.test.ts
  packages/updown.io/src/UpdownIO.ts
  packages/updown.io/src/api/ChecksAPI.ts
  packages/updown.io/src/api/NodesAPI.ts
  packages/updown.io/src/api/RecipientsAPI.ts
  packages/updown.io/src/api/StatusPagesAPI.ts
  packages/updown.io/src/api/index.ts
  packages/updown.io/src/interfaces/API.ts
  packages/updown.io/src/interfaces/Check.ts
  packages/updown.io/src/interfaces/Downtime.ts
  packages/updown.io/src/interfaces/Metrics.ts
  packages/updown.io/src/interfaces/Options.ts
  packages/updown.io/src/interfaces/Recipient.ts
  packages/updown.io/src/interfaces/StatusPage.ts
  packages/updown.io/src/interfaces/index.ts
  yarn.lock
Due: prettier, oxlint, eslint

docs: Rebuild docs [ci skip]
  docs/packages/updown.io/assets/navigation.js
  docs/packages/updown.io/assets/search.js
  docs/packages/updown.io/classes/ChecksAPI.html
  docs/packages/updown.io/classes/NodesAPI.html
  docs/packages/updown.io/classes/RecipientsAPI.html
  docs/packages/updown.io/classes/StatusPagesAPI.html
  docs/packages/updown.io/classes/UpdownIO.html
  docs/packages/updown.io/interfaces/API.html
  docs/packages/updown.io/interfaces/Check.html
  docs/packages/updown.io/interfaces/CheckOptions.html
  docs/packages/updown.io/interfaces/ClientOptions.html
  docs/packages/updown.io/interfaces/CustomHeaders.html
  docs/packages/updown.io/interfaces/Deleted.html
  docs/packages/updown.io/interfaces/Downtime.html
  docs/packages/updown.io/interfaces/Metrics.html
  docs/packages/updown.io/interfaces/MetricsOptions.html
  docs/packages/updown.io/interfaces/Nodes.html
  docs/packages/updown.io/interfaces/Recipient.html
  docs/packages/updown.io/interfaces/RecipientOptions.html
  docs/packages/updown.io/interfaces/RequestOptions.html
  docs/packages/updown.io/interfaces/StatusPage.html
  docs/packages/updown.io/interfaces/StatusPageOptions.html
  docs/packages/updown.io/modules.html
  docs/packages/updown.io/types/CheckType.html
  docs/packages/updown.io/types/HttpMethod.html
  docs/packages/updown.io/types/HttpVerb.html
  docs/packages/updown.io/types/MetricsGroup.html
  docs/packages/updown.io/types/RecipientType.html
  docs/packages/updown.io/types/StatusPageVisibility.html
Due: prettier

feat(xkcdjs): Improve API (#1935)
  packages/xkcdjs/README.md
  packages/xkcdjs/src/XKCDAPI.test.ts
  packages/xkcdjs/src/XKCDAPI.ts
Due: prettier, oxlint, eslint

docs: Rebuild docs [ci skip]
  docs/packages/updown.io/classes/ChecksAPI.html
  docs/packages/updown.io/classes/NodesAPI.html
  docs/packages/updown.io/classes/RecipientsAPI.html
  docs/packages/updown.io/classes/StatusPagesAPI.html
  docs/packages/updown.io/classes/UpdownIO.html
  docs/packages/updown.io/interfaces/API.html
  docs/packages/updown.io/interfaces/Check.html
  docs/packages/updown.io/interfaces/CheckOptions.html
  docs/packages/updown.io/interfaces/ClientOptions.html
  docs/packages/updown.io/interfaces/CustomHeaders.html
  docs/packages/updown.io/interfaces/Deleted.html
  docs/packages/updown.io/interfaces/Downtime.html
  docs/packages/updown.io/interfaces/Metrics.html
  docs/packages/updown.io/interfaces/MetricsOptions.html
  docs/packages/updown.io/interfaces/Nodes.html
  docs/packages/updown.io/interfaces/Recipient.html
  docs/packages/updown.io/interfaces/RecipientOptions.html
  docs/packages/updown.io/interfaces/RequestOptions.html
  docs/packages/updown.io/interfaces/StatusPage.html
  docs/packages/updown.io/interfaces/StatusPageOptions.html
  docs/packages/updown.io/types/CheckType.html
  docs/packages/updown.io/types/HttpMethod.html
  docs/packages/updown.io/types/HttpVerb.html
  docs/packages/updown.io/types/MetricsGroup.html
  docs/packages/updown.io/types/RecipientType.html
  docs/packages/updown.io/types/StatusPageVisibility.html
  docs/packages/xkcdjs/classes/XKCD.html
  docs/packages/xkcdjs/classes/XKCDAPI.html
  docs/packages/xkcdjs/index.html
  docs/packages/xkcdjs/interfaces/ClientOptions.html
  docs/packages/xkcdjs/interfaces/ImageData.html
  docs/packages/xkcdjs/interfaces/RequestOptions.html
  docs/packages/xkcdjs/interfaces/XKCDResult.html
  docs/packages/xkcdjs/interfaces/XKCDResultWithData.html
Due: none

chore(release): updown.io@3.5.0 [skip ci]
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  6041557cd6e54b1d544e4371e390c70c1b20db1f
Due: none

chore(release): @ffflorian/xkcdjs@3.5.0 [skip ci]
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  a894741022adc87c3c63d12bada7931aa6a56b7c
Due: none

fix(xkcdjs): Bin name in package.json
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

docs: Rebuild docs [ci skip]
  docs/packages/xkcdjs/classes/XKCD.html
  docs/packages/xkcdjs/classes/XKCDAPI.html
  docs/packages/xkcdjs/interfaces/ClientOptions.html
  docs/packages/xkcdjs/interfaces/ImageData.html
  docs/packages/xkcdjs/interfaces/RequestOptions.html
  docs/packages/xkcdjs/interfaces/XKCDResult.html
  docs/packages/xkcdjs/interfaces/XKCDResultWithData.html
Due: none

chore(release): @ffflorian/xkcdjs@3.5.1 [skip ci]
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  97d392ba5d6a85779a431b6c52ba51c8a5d10e6e
Due: none

chore: Fix all package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

feat: Add UseResponse API (#1827)
  README.md
  packages/useresponse/LICENSE
  packages/useresponse/README.md
  packages/useresponse/package.json
  packages/useresponse/src/Endpoints.test.ts
  packages/useresponse/src/Endpoints.ts
  packages/useresponse/src/UseResponse.test.ts
  packages/useresponse/src/UseResponse.ts
  packages/useresponse/src/api/AdditionalAPI.ts
  packages/useresponse/src/api/AuthAPI.ts
  packages/useresponse/src/api/CategoriesAPI.ts
  packages/useresponse/src/api/ChangelogAPI.ts
  packages/useresponse/src/api/ChatsAPI.ts
  packages/useresponse/src/api/CommentsAPI.ts
  packages/useresponse/src/api/CustomFieldsAPI.ts
  packages/useresponse/src/api/ModerationAPI.ts
  packages/useresponse/src/api/ObjectsAPI.ts
  packages/useresponse/src/api/ReportsAPI.ts
  packages/useresponse/src/api/UserNotesAPI.ts
  packages/useresponse/src/api/UsersAPI.ts
  packages/useresponse/src/api/index.ts
  packages/useresponse/src/index.ts
  packages/useresponse/src/interfaces/API.ts
  packages/useresponse/src/interfaces/ClientOptions.ts
  packages/useresponse/src/interfaces/UseResponseInterfaces.ts
  packages/useresponse/src/interfaces/index.ts
  packages/useresponse/tsconfig.build.json
  packages/useresponse/tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

docs(useresponse): correct `ChangePasswordParams.password` API field description (#1960)
  packages/useresponse/src/interfaces/UseResponseInterfaces.ts
Due: prettier, oxlint, eslint

feat: Better way of setting the base URL
  AGENTS.md
  packages/useresponse/src/UseResponse.test.ts
  packages/useresponse/src/UseResponse.ts
Due: prettier, oxlint, eslint

feat(useresponse): Better way of setting the base URL (#1962)
  AGENTS.md
  packages/useresponse/src/UseResponse.test.ts
  packages/useresponse/src/UseResponse.ts
Due: prettier, oxlint, eslint

Path conditions:
  prettier: any of: *.{js,ts,css,md,json,yml,yaml}
  oxlint: any of: packages/*
  eslint: any of: packages/*
