Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/**/*.ts'
      run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Upgrade yarn lockfile
  yarn.lock
Due: none

feat: Add roman-client (#517)
  .github/workflows/push_main.yml
  README.md
  packages/roman-client/LICENSE
  packages/roman-client/README.md
  packages/roman-client/package.json
  packages/roman-client/src/Roman.ts
  packages/roman-client/src/api/BroadcastService.ts
  packages/roman-client/src/api/ConversationService.ts
  packages/roman-client/src/api/LoginService.ts
  packages/roman-client/src/api/MessagesService.ts
  packages/roman-client/src/api/RegisterService.ts
  packages/roman-client/src/api/ServiceService.ts
  packages/roman-client/src/api/UsersService.ts
  packages/roman-client/src/api/index.ts
  packages/roman-client/src/index.ts
  packages/roman-client/src/interfaces/API.ts
  packages/roman-client/src/interfaces/Asset.ts
  packages/roman-client/src/interfaces/Attachment.ts
  packages/roman-client/src/interfaces/Conversation.ts
  packages/roman-client/src/interfaces/ErrorMessage.ts
  packages/roman-client/src/interfaces/IncomingMessage.ts
  packages/roman-client/src/interfaces/Member.ts
  packages/roman-client/src/interfaces/Mention.ts
  packages/roman-client/src/interfaces/NewService.ts
  packages/roman-client/src/interfaces/NewUser.ts
  packages/roman-client/src/interfaces/OutgoingMessage.ts
  packages/roman-client/src/interfaces/Poll.ts
  packages/roman-client/src/interfaces/PostMessageResult.ts
  packages/roman-client/src/interfaces/Result.ts
  packages/roman-client/src/interfaces/Service.ts
  packages/roman-client/src/interfaces/SignIn.ts
  packages/roman-client/src/interfaces/Text.ts
  packages/roman-client/src/interfaces/UpdateService.ts
  packages/roman-client/src/interfaces/User.ts
  packages/roman-client/src/interfaces/index.ts
  packages/roman-client/tsconfig.json
Due: prettier, eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/roman-client/CHANGELOG.md
  packages/roman-client/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Enable Code Scanning
  .github/workflows/codeql-analysis.yml
Due: prettier

chore: Use GITHUB_ENV
  .github/workflows/pull_request.yml
Due: prettier

feat(roman-client): Rewrite API and add Cookies
  packages/roman-client/README.md
  packages/roman-client/package.json
  packages/roman-client/src/Roman.ts
  packages/roman-client/src/api/BroadcastService.ts
  packages/roman-client/src/api/ConversationService.ts
  packages/roman-client/src/api/LoginService.ts
  packages/roman-client/src/api/MessagesService.ts
  packages/roman-client/src/api/RegisterService.ts
  packages/roman-client/src/api/ServiceService.ts
  packages/roman-client/src/api/UsersService.ts
  packages/roman-client/src/api/index.ts
  packages/roman-client/src/index.ts
  packages/roman-client/src/interfaces/API.ts
  packages/roman-client/src/interfaces/NewUser.ts
  packages/roman-client/src/interfaces/RegisterInfo.ts
  packages/roman-client/src/interfaces/SignInData.ts
  packages/roman-client/src/interfaces/UpdateService.ts
  packages/roman-client/src/interfaces/index.ts
  yarn.lock
Due: prettier, eslint

chore: Use one workflow
  .github/workflows/build_test_publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/push_main.yml
Due: prettier

chore: Don't release on chores
  .github/workflows/build_test_publish.yml
  bin/rebuild-docs.sh
Due: prettier

fix(imgflip.com): Array params (#575)
  packages/imgflip.com/package.json
  packages/imgflip.com/src/Imgflip.ts
  yarn.lock
Due: prettier, eslint

chore: Publish [ci skip]
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
Due: prettier

fix(imgflip.com): Use indexed arrays in query
  packages/imgflip.com/src/Imgflip.ts
  packages/imgflip.com/src/interfaces.ts
Due: eslint

feat(imgflip.com): Use body for post requests, add custom API URL
  README.md
  packages/imgflip.com/src/Imgflip.ts
Due: prettier, eslint

fix(statuspage.io): New API version (#589)
  packages/statuspage.io/README.md
  packages/statuspage.io/src/Endpoints.ts
  packages/statuspage.io/src/Statuspage.ts
  packages/statuspage.io/src/interfaces/ClientOptions.ts
  packages/statuspage.io/src/interfaces/Result.ts
  packages/statuspage.io/src/interfaces/index.ts
Due: prettier, eslint

chore: Use CI_SKIP
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Add husky install
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: prettier

chore: Downgrade husky to 4.x
  .github/dependabot.yml
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier

chore: Remove HEAD checkout from CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: prettier

chore(deps-dev): bump @ffflorian/eslint-config from 0.6.2 to 0.8.1
  package.json
  yarn.lock
Due: prettier

feat(bamboohr.com): Add bamboohr.com API (#619)
  README.md
  packages/bamboohr.com/LICENSE
  packages/bamboohr.com/README.md
  packages/bamboohr.com/package.json
  packages/bamboohr.com/src/BambooHR.ts
  packages/bamboohr.com/src/Endpoints.ts
  packages/bamboohr.com/src/api/EmployeesAPI.ts
  packages/bamboohr.com/src/api/TimeOffAPI.ts
  packages/bamboohr.com/src/api/index.ts
  packages/bamboohr.com/src/index.ts
  packages/bamboohr.com/src/interfaces/API.ts
  packages/bamboohr.com/src/interfaces/ClientOptions.ts
  packages/bamboohr.com/src/interfaces/Employee.ts
  packages/bamboohr.com/src/interfaces/Fields.ts
  packages/bamboohr.com/src/interfaces/index.ts
  packages/bamboohr.com/tsconfig.json
  yarn.lock
Due: prettier, eslint

fix: Build docs
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/roman-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  typedoc.json
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/roman-client/CHANGELOG.md
  packages/roman-client/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Bump @types/node to 14.14.37
  .github/dependabot.yml
  yarn.lock
Due: prettier

fix(statuspage.io): Update PageID boolean status (#650)
  packages/statuspage.io/src/Statuspage.ts
Due: eslint
