Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Publish [ci skip]
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
Due: prettier

fix(imgflip.com): CaptionImage uses params
  packages/imgflip.com/src/Imgflip.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

refactor: Use ESLint instead of TSLint
  .eslintrc.json
  .eslintrc.spec.json
  package.json
  packages/api-client/src/APIException.ts
  packages/api-client/src/RequestService.ts
  packages/icanhazdadjoke/src/cli.ts
  tslint.json
  yarn.lock
Due: prettier, eslint

chore: Linting
  .eslintrc.json
  .eslintrc.spec.json
  package.json
  packages/absence.io/src/interfaces/User.ts
  packages/absence.io/src/interfaces/WorkingDay.ts
  packages/c3nav/src/interfaces/Bounds.ts
  packages/c3nav/src/interfaces/Location.ts
  packages/c3nav/src/interfaces/Options.ts
  packages/libraries.io/src/api/ProjectAPI.ts
  packages/libraries.io/src/interfaces/Options.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/statuspage.io/src/interfaces/API.ts
  packages/updown.io/src/interfaces/Options.ts
  packages/xkcdjs/package.json
  packages/xkcdjs/spec/XKCDAPI.test.ts
Due: prettier, eslint

chore: Use only npmjs.org in yarn.lock
  yarn.lock
Due: none

refactor(xkcdjs,icanhazdadjoke): Import naming
  packages/icanhazdadjoke/src/cli.ts
  packages/xkcdjs/src/cli.ts
Due: eslint

chore: Use Node.js 14
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
  packages/absence.io/package.json
  packages/api-client/package.json
  packages/c3nav/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

feat: add sortBy property for pagination options (#396)
  packages/absence.io/src/interfaces/Options.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

feat(corona-warn-app): Add corona-warn-app (#427)
  packages/corona-warn-app/LICENSE
  packages/corona-warn-app/README.md
  packages/corona-warn-app/package.json
  packages/corona-warn-app/src/CoronaWarnApp.ts
  packages/corona-warn-app/src/api/ApplicationConfigurationAPI.ts
  packages/corona-warn-app/src/api/DiagnosisKeysAPI.ts
  packages/corona-warn-app/src/api/index.ts
  packages/corona-warn-app/src/index.ts
  packages/corona-warn-app/src/interfaces.ts
  packages/corona-warn-app/tsconfig.json
Due: prettier, eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Deprecate @ffflorian/api-client
  README.md
  packages/api-client/CHANGELOG.md
  packages/api-client/LICENSE
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/src/APIClient.ts
  packages/api-client/src/APIException.ts
  packages/api-client/src/RequestService.ts
  packages/api-client/src/index.ts
  packages/api-client/tsconfig.json
Due: prettier, eslint

chore: Add fix:other
  package.json
Due: prettier

feat(corona-warn-app): Fix version
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
Due: prettier

chore: Publish [ci skip]
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
Due: prettier

feat(corona-warn-app): Add setApiUrl
  packages/corona-warn-app/src/CoronaWarnApp.ts
  packages/corona-warn-app/src/api/ApplicationConfigurationAPI.ts
  packages/corona-warn-app/src/api/DiagnosisKeysAPI.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

feat: Switch to new main branch
  .github/workflows/push_master.yml
  bin/rebuild-docs.sh
  lerna.json
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/icanhazdadjoke/src/ICanHazDadJoke.ts
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier, eslint

chore: Rename workflow file
  .github/workflows/push_main.yml
Due: prettier

chore: Use npmjs.org in yarn.lock
  yarn.lock
Due: none

chore: Use new email address
  package.json
  packages/absence.io/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier

chore: Change last name
  package.json
  packages/absence.io/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier

chore: Update yarn.lock
  yarn.lock
Due: none

chore: Improve GH actions
  .github/workflows/pull_request.yml
  .github/workflows/push_main.yml
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
