Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore(release): bamboohr.com@1.5.7 [skip ci]
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  f0829f2111a0ae648ddd3f08bb8b38feea129a1a
Due: none

chore(release): c3nav@3.4.7 [skip ci]
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  be57f714100f3c9bb11b2024161687890350b76c
Due: none

chore(release): corona-warn-app@2.4.7 [skip ci]
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  3bb72a36e4d28fac0b54692c8e30fea6021d43fe
Due: none

chore(release): crates.io@2.4.7 [skip ci]
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  b4b3c781f62f425b08940954924fb98902ba9e8c
Due: none

chore(release): @ffflorian/icanhazdadjoke@2.4.7 [skip ci]
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  0a8283d949959e554e1c82cf9bc29241bbd3b7c0
Due: none

chore(release): imgflip.com@3.5.7 [skip ci]
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  7de48146fc9e28c180cb8e9efe55254a54f933c8
Due: none

chore(release): libraries.io@3.4.7 [skip ci]
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  586e17778cd7c565473dfd20d20b7348dbf2f44c
Due: none

chore(release): statuspage.io@3.4.7 [skip ci]
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  e1f8cbc04e2417687f05c36b326fbe40c3a5a071
Due: none

chore(release): updown.io@3.4.7 [skip ci]
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  92903ee42d281632ae0a8d9ddbb2b09b0387c130
Due: none

chore(release): @ffflorian/xkcdjs@3.4.7 [skip ci]
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  dada1d231994c013d0995f5be34ded8ff52e99c7
Due: none

chore: Run yarn update check only on main branch
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): bump yarn to version 4.14.1
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
Due: prettier

update yarn config
  .yarnrc.yml
  yarn.lock
Due: prettier

refactor: add job-level permissions to workflows
  .github/workflows/build_test_publish.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: add workflow permissions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

fix permissions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

Update codeql.yml
  .github/workflows/codeql.yml
Due: prettier

chore: add job-level permissions to workflows (#1916)
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: Always update GitHub actions from @ffflorian [ci skip]
  .github/dependabot.yml
Due: prettier

docs: Updated API references
  packages/absence.io/README.md
  packages/bamboohr.com/README.md
  packages/c3nav/README.md
  packages/corona-warn-app/README.md
  packages/crates.io/README.md
  packages/icanhazdadjoke/README.md
  packages/imgflip.com/README.md
  packages/libraries.io/README.md
  packages/npms.io/README.md
  packages/statuspage.io/README.md
  packages/updown.io/README.md
  packages/xkcdjs/README.md
Due: prettier, oxlint, eslint

chore: Run oxlint and ESLint only on JS/TS files
  lefthook.yml
Due: prettier

chore: Archive corona-warn-app
  packages/corona-warn-app/README.md
  packages/corona-warn-app/package.json
Due: prettier, oxlint, eslint

docs: Improve AGENTS.md for tests
  AGENTS.md
Due: prettier

feat(libraries.io): Improve API
  packages/libraries.io/src/APIMapping.test.ts
  packages/libraries.io/src/api/GitHub/GitHubUserAPI.ts
  packages/libraries.io/src/api/ProjectAPI.ts
Due: prettier, oxlint, eslint

feat(xkcdjs): Improve API
  packages/xkcdjs/README.md
  packages/xkcdjs/src/XKCDAPI.test.ts
  packages/xkcdjs/src/XKCDAPI.ts
Due: prettier, oxlint, eslint

feat(updown.io): Improve API
  packages/updown.io/package.json
  packages/updown.io/src/Endpoints.ts
  packages/updown.io/src/UpdownIO.test.ts
  packages/updown.io/src/UpdownIO.ts
  packages/updown.io/src/api/ChecksAPI.ts
  packages/updown.io/src/api/NodesAPI.ts
  packages/updown.io/src/api/RecipientsAPI.ts
  packages/updown.io/src/api/StatusPagesAPI.ts
  packages/updown.io/src/api/index.ts
  packages/updown.io/src/interfaces/API.ts
  packages/updown.io/src/interfaces/Check.ts
  packages/updown.io/src/interfaces/Downtime.ts
  packages/updown.io/src/interfaces/Metrics.ts
  packages/updown.io/src/interfaces/Options.ts
  packages/updown.io/src/interfaces/Recipient.ts
  packages/updown.io/src/interfaces/StatusPage.ts
  packages/updown.io/src/interfaces/index.ts
  yarn.lock
Due: prettier, oxlint, eslint

Path conditions:
  prettier: any of: *.{js,ts,css,md,json,yml,yaml}
  oxlint: any of: packages/*
  eslint: any of: packages/*
