Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Switch from husky/lint-staged to lefthook (#1075)
  .github/dependabot.yml
  .huskyrc.json
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore: Re-add files to git after running lefthook
  lefthook.yml
Due: prettier

chore: Add staged files only once
  lefthook.yml
Due: prettier

chore: Update CodeQL analysis
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
Due: prettier

chore: Run GitLab mirror only on push to main branch
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Update GitLab mirror
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Update Node.js to version 18 (#1189)
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/roman-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Remove skip CI check
  .github/workflows/build_test_publish.yml
Due: prettier

fix(statuspage.io): Update docs for `getStatus`
  packages/statuspage.io/src/Statuspage.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/roman-client/CHANGELOG.md
  packages/roman-client/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Use npmjs.org registry
  yarn.lock
Due: none

docs: Add SECURITY.md
  SECURITY.md
Due: prettier

chore: Remove yarn boot
  .github/workflows/build_test_publish.yml
  package.json
Due: prettier

chore: Use yarn v2
  .github/workflows/build_test_publish.yml
  .gitignore
  .npmrc
  .prettierignore
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  packages/icanhazdadjoke/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Revert upgrading yarn
  .github/workflows/build_test_publish.yml
  .gitignore
  .npmrc
  .prettierignore
  .yarn/install-state.gz
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  packages/icanhazdadjoke/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Check weekly for dependabot updates
  .github/dependabot.yml
Due: prettier

fix(icanhazdadjoke): wrong property name (#1354)
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
Due: eslint

chore: fix .yarnrc [ci skip]
  .yarnrc
Due: none

chore: Auto-merge type dependencies
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: Use Node.js version 20
  .github/workflows/build_test_publish.yml
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/roman-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Use oxlint instead of eslint
  lefthook.yml
  package.json
  packages/absence.io/src/Endpoints.ts
  packages/absence.io/src/api/APIBase.ts
  packages/bamboohr.com/src/Endpoints.ts
  packages/c3nav/src/Endpoints.ts
  packages/crates.io/src/Endpoints.ts
  packages/imgflip.com/src/Endpoints.ts
  packages/libraries.io/src/Endpoints.ts
  packages/libraries.io/src/api/APIBase.ts
  packages/npms.io/src/Endpoints.ts
  packages/statuspage.io/src/Endpoints.ts
  packages/updown.io/src/Endpoints.ts
  yarn.lock
Due: prettier, eslint

chore: Add schema to lerna config [ci skip]
  lerna.json
Due: prettier

chore: Activate auto-merge for types
  .github/workflows/auto-merge.yml
Due: prettier

fix(impgflip.com): typo (#1610)
  packages/imgflip.com/README.md
Due: prettier

chore: Run dependabot monthly
  .github/dependabot.yml
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
