Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Use new caching mechanism
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore(deps): Update form-data to 2.5.5
  yarn.lock
Due: none

chore: Use npm registry in yarn lockfile
  yarn.lock
Due: none

chore: don't update lockfile in pipeline
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Use yarn berry and Node.js 24
  .github/workflows/build_test_publish.yml
  .gitignore
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

test: Replace jasmine with vitest
  .eslintrc.json
  .gitignore
  package.json
  packages/libraries.io/package.json
  packages/libraries.io/spec/support/jasmine.json
  packages/libraries.io/src/Endpoint.test.ts
  packages/libraries.io/tsconfig.jasmine.json
  packages/libraries.io/tsconfig.json
  packages/xkcdjs/package.json
  packages/xkcdjs/spec/support/jasmine.json
  packages/xkcdjs/src/XKCDAPI.test.ts
  packages/xkcdjs/tsconfig.jasmine.json
  packages/xkcdjs/tsconfig.json
  yarn.lock
Due: prettier, eslint

remove unused file
  packages/c3nav/tsconfig.jasmine.json
Due: prettier

remove unused files
  .gitignore
Due: none

fix tsconfig files
  packages/absence.io/tsconfig.json
  packages/bamboohr.com/tsconfig.json
  packages/c3nav/tsconfig.json
  packages/corona-warn-app/tsconfig.json
  packages/crates.io/tsconfig.json
  packages/icanhazdadjoke/tsconfig.json
  packages/imgflip.com/tsconfig.json
  packages/libraries.io/tsconfig.json
  packages/npms.io/tsconfig.json
  packages/statuspage.io/tsconfig.json
  packages/updown.io/tsconfig.json
  packages/xkcdjs/tsconfig.json
Due: prettier

test: Replace jasmine with vitest (#1755)
  .eslintrc.json
  package.json
  packages/absence.io/tsconfig.json
  packages/bamboohr.com/tsconfig.json
  packages/c3nav/tsconfig.jasmine.json
  packages/c3nav/tsconfig.json
  packages/corona-warn-app/tsconfig.json
  packages/crates.io/tsconfig.json
  packages/icanhazdadjoke/tsconfig.json
  packages/imgflip.com/tsconfig.json
  packages/libraries.io/package.json
  packages/libraries.io/spec/support/jasmine.json
  packages/libraries.io/src/Endpoint.test.ts
  packages/libraries.io/tsconfig.jasmine.json
  packages/libraries.io/tsconfig.json
  packages/npms.io/tsconfig.json
  packages/statuspage.io/tsconfig.json
  packages/updown.io/tsconfig.json
  packages/xkcdjs/package.json
  packages/xkcdjs/spec/support/jasmine.json
  packages/xkcdjs/src/XKCDAPI.test.ts
  packages/xkcdjs/tsconfig.jasmine.json
  packages/xkcdjs/tsconfig.json
  yarn.lock
Due: prettier, eslint

merge from main
  .eslintrc.json
  package.json
  packages/absence.io/tsconfig.json
  packages/bamboohr.com/tsconfig.json
  packages/c3nav/tsconfig.jasmine.json
  packages/c3nav/tsconfig.json
  packages/corona-warn-app/tsconfig.json
  packages/crates.io/tsconfig.json
  packages/icanhazdadjoke/tsconfig.json
  packages/imgflip.com/tsconfig.json
  packages/libraries.io/package.json
  packages/libraries.io/spec/support/jasmine.json
  packages/libraries.io/src/Endpoint.test.ts
  packages/libraries.io/tsconfig.jasmine.json
  packages/libraries.io/tsconfig.json
  packages/npms.io/tsconfig.json
  packages/statuspage.io/tsconfig.json
  packages/updown.io/tsconfig.json
  packages/xkcdjs/package.json
  packages/xkcdjs/spec/support/jasmine.json
  packages/xkcdjs/src/XKCDAPI.test.ts
  packages/xkcdjs/tsconfig.jasmine.json
  packages/xkcdjs/tsconfig.json
  yarn.lock
Due: prettier, eslint

chore: Use yarn berry and Node.js 24 (#1754)
  .github/workflows/build_test_publish.yml
  .gitignore
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

ScheduledMaintenances in Summary
  packages/statuspage.io/src/interfaces/Result.ts
Due: eslint

fix(statuspage.io): ScheduledMaintenances in Summary (#1756)
  packages/statuspage.io/src/interfaces/Result.ts
Due: eslint

chore: Remove yarn client args
  lerna.json
Due: prettier

refactor: Replace axios with fetch
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/c3nav/src/api/APIBase.ts
  packages/c3nav/src/api/AccessRestrictionGroupsAPI.ts
  packages/c3nav/src/api/AccessRestrictionsAPI.ts
  packages/c3nav/src/api/AreasAPI.ts
  packages/c3nav/src/api/BuildingsAPI.ts
  packages/c3nav/src/api/ChangesetsAPI.ts
  packages/c3nav/src/api/ColumnsAPI.ts
  packages/c3nav/src/api/CrossDescriptionsAPI.ts
  packages/c3nav/src/api/DoorsAPI.ts
  packages/c3nav/src/api/EditorAPI.ts
  packages/c3nav/src/api/HolesAPI.ts
  packages/c3nav/src/api/LeaveDescriptionsAPI.ts
  packages/c3nav/src/api/LevelListAPI.ts
  packages/c3nav/src/api/LineObstaclesAPI.ts
  packages/c3nav/src/api/LocationGroupCategoriesAPI.ts
  packages/c3nav/src/api/LocationGroupsAPI.ts
  packages/c3nav/src/api/LocationsAPI.ts
  packages/c3nav/src/api/MapAPI.ts
  packages/c3nav/src/api/ObstaclesAPI.ts
  packages/c3nav/src/api/POIs.ts
  packages/c3nav/src/api/RampsAPI.ts
  packages/c3nav/src/api/RoutingAPI.ts
  packages/c3nav/src/api/SessionAPI.ts
  packages/c3nav/src/api/SourcesAPI.ts
  packages/c3nav/src/api/SpacesAPI.ts
  packages/c3nav/src/api/StairsAPI.ts
  packages/c3nav/src/api/UpdatesAPI.ts
  packages/c3nav/src/c3nav.ts
  packages/corona-warn-app/package.json
  packages/corona-warn-app/src/CoronaWarnApp.ts
  packages/corona-warn-app/src/api/ApplicationConfigurationAPI.ts
  packages/corona-warn-app/src/api/DiagnosisKeysAPI.ts
  packages/crates.io/package.json
  packages/crates.io/src/CratesIO.ts
  packages/crates.io/src/api/CratesAPI.ts
  packages/imgflip.com/package.json
  packages/imgflip.com/src/Imgflip.ts
  yarn.lock
Due: prettier, eslint

more fetch
  packages/c3nav/src/c3nav.ts
  packages/corona-warn-app/src/CoronaWarnApp.ts
  packages/corona-warn-app/src/api/DiagnosisKeysAPI.ts
  packages/crates.io/src/CratesIO.ts
  packages/crates.io/src/api/CratesAPI.ts
  packages/imgflip.com/src/Imgflip.ts
  packages/npms.io/package.json
  packages/npms.io/src/NpmsIO.ts
  packages/npms.io/src/api/PackageAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
  yarn.lock
Due: prettier, eslint

more fetch
  packages/c3nav/src/api/LevelListAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/statuspage.io/package.json
  packages/statuspage.io/src/api/IncidentsAPI.ts
  packages/statuspage.io/src/api/ScheduledMaintenancesAPI.ts
  packages/statuspage.io/src/api/SubscribersAPI.ts
  packages/xkcdjs/package.json
  packages/xkcdjs/src/XKCD.ts
  packages/xkcdjs/src/XKCDAPI.ts
  yarn.lock
Due: prettier, eslint

finish statuspage.io
  packages/absence.io/src/AbsenceIO.ts
  packages/statuspage.io/src/Statuspage.ts
Due: eslint

catch HTTP error
  packages/c3nav/src/api/AccessRestrictionGroupsAPI.ts
  packages/c3nav/src/api/AccessRestrictionsAPI.ts
  packages/c3nav/src/api/AreasAPI.ts
  packages/c3nav/src/api/BuildingsAPI.ts
  packages/c3nav/src/api/ChangesetsAPI.ts
  packages/c3nav/src/api/ColumnsAPI.ts
  packages/c3nav/src/api/CrossDescriptionsAPI.ts
  packages/c3nav/src/api/DoorsAPI.ts
  packages/c3nav/src/api/EditorAPI.ts
  packages/c3nav/src/api/HolesAPI.ts
  packages/c3nav/src/api/LeaveDescriptionsAPI.ts
  packages/c3nav/src/api/LevelListAPI.ts
  packages/c3nav/src/api/LineObstaclesAPI.ts
  packages/c3nav/src/api/LocationGroupCategoriesAPI.ts
  packages/c3nav/src/api/LocationGroupsAPI.ts
  packages/c3nav/src/api/LocationsAPI.ts
  packages/c3nav/src/api/MapAPI.ts
  packages/c3nav/src/api/ObstaclesAPI.ts
  packages/c3nav/src/api/POIs.ts
  packages/c3nav/src/api/RampsAPI.ts
  packages/c3nav/src/api/RoutingAPI.ts
  packages/c3nav/src/api/SessionAPI.ts
  packages/c3nav/src/api/SourcesAPI.ts
  packages/c3nav/src/api/SpacesAPI.ts
  packages/c3nav/src/api/StairsAPI.ts
  packages/c3nav/src/api/UpdatesAPI.ts
  packages/corona-warn-app/src/api/DiagnosisKeysAPI.ts
  packages/crates.io/src/CratesIO.ts
  packages/crates.io/src/api/CratesAPI.ts
  packages/imgflip.com/src/Imgflip.ts
  packages/npms.io/src/api/PackageAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/statuspage.io/src/Statuspage.ts
  packages/statuspage.io/src/api/IncidentsAPI.ts
  packages/statuspage.io/src/api/ScheduledMaintenancesAPI.ts
  packages/statuspage.io/src/api/SubscribersAPI.ts
Due: eslint

fix test
  packages/xkcdjs/src/XKCDAPI.test.ts
  packages/xkcdjs/src/XKCDAPI.ts
Due: eslint

add missing http catches
  packages/corona-warn-app/src/api/ApplicationConfigurationAPI.ts
  packages/corona-warn-app/src/api/DiagnosisKeysAPI.ts
  packages/libraries.io/src/Endpoints.ts
  packages/npms.io/src/api/PackageAPI.ts
Due: eslint

remove axios import
  packages/xkcdjs/src/XKCDAPI.test.ts
Due: eslint

prettier
  packages/corona-warn-app/src/CoronaWarnApp.ts
  packages/corona-warn-app/src/api/ApplicationConfigurationAPI.ts
  packages/crates.io/src/Endpoints.ts
  packages/imgflip.com/src/Endpoints.ts
  packages/imgflip.com/src/Imgflip.ts
  packages/libraries.io/src/Endpoints.ts
  packages/npms.io/src/api/PackageAPI.ts
  packages/statuspage.io/src/api/IncidentsAPI.ts
  packages/xkcdjs/src/XKCDAPI.ts
Due: eslint

remove unrelated changes
  packages/c3nav/CHANGELOG.md
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
