Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,css,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/*'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/*'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

feat(statuspage.io): Improve API
  packages/statuspage.io/package.json
  packages/statuspage.io/src/Endpoints.ts
  packages/statuspage.io/src/ScheduledMaintenancesAPI.test.ts
  packages/statuspage.io/src/SubscribersAPI.test.ts
  packages/statuspage.io/src/api/ScheduledMaintenancesAPI.ts
  packages/statuspage.io/src/api/SubscribersAPI.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(npms.io): Improve API
  packages/npms.io/package.json
  packages/npms.io/src/Endpoints.ts
  packages/npms.io/src/NpmsIO.test.ts
  packages/npms.io/src/NpmsIO.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/npms.io/src/interfaces/SearchOptions.ts
  packages/npms.io/src/interfaces/SearchResult.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(imgflip.com): Improve API
  packages/imgflip.com/package.json
  packages/imgflip.com/src/Imgflip.test.ts
  packages/imgflip.com/src/Imgflip.ts
  packages/imgflip.com/src/interfaces.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(icanhazdadjoke): Improve API
  packages/icanhazdadjoke/package.json
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.test.ts
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
  packages/icanhazdadjoke/src/Interfaces.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(crates.io): Improve API
  packages/crates.io/README.md
  packages/crates.io/package.json
  packages/crates.io/src/CratesIO.test.ts
  packages/crates.io/src/CratesIO.ts
  packages/crates.io/src/Endpoints.ts
  packages/crates.io/src/api/CratesAPI.ts
  packages/crates.io/src/interfaces/Crate.ts
  packages/crates.io/src/interfaces/Keyword.ts
  packages/crates.io/src/interfaces/Options.ts
  packages/crates.io/src/interfaces/Result.ts
  packages/crates.io/src/interfaces/Team.ts
  packages/crates.io/src/interfaces/User.ts
  packages/crates.io/src/interfaces/Version.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(c3nav): Improve API
  packages/c3nav/package.json
  packages/c3nav/src/Endpoints.test.ts
  packages/c3nav/src/Endpoints.ts
  packages/c3nav/src/api/EditorAPI.ts
  packages/c3nav/src/api/LocationsAPI.ts
  packages/c3nav/src/api/MapAPI.test.ts
  packages/c3nav/src/api/MapAPI.ts
  packages/c3nav/src/api/MeshAPI.ts
  packages/c3nav/src/api/PositioningAPI.ts
  packages/c3nav/src/api/RoutingAPI.test.ts
  packages/c3nav/src/api/RoutingAPI.ts
  packages/c3nav/src/api/SessionAPI.test.ts
  packages/c3nav/src/api/SessionAPI.ts
  packages/c3nav/src/api/UpdatesAPI.ts
  packages/c3nav/src/api/index.ts
  packages/c3nav/src/c3nav.ts
  packages/c3nav/src/interfaces/API.ts
  packages/c3nav/src/interfaces/Editor.ts
  packages/c3nav/src/interfaces/Map.ts
  packages/c3nav/src/interfaces/Mesh.ts
  packages/c3nav/src/interfaces/Positioning.ts
  packages/c3nav/src/interfaces/Routing.ts
  packages/c3nav/src/interfaces/Session.ts
  packages/c3nav/src/interfaces/Updates.ts
  packages/c3nav/src/interfaces/index.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(bamboohr.com): Improve API
  packages/bamboohr.com/package.json
  packages/bamboohr.com/src/BambooHR.test.ts
  packages/bamboohr.com/src/BambooHR.ts
  packages/bamboohr.com/src/Endpoints.ts
  packages/bamboohr.com/src/api/EmployeesAPI.ts
  packages/bamboohr.com/src/api/TimeOffAPI.ts
  packages/bamboohr.com/src/interfaces/Employee.ts
  packages/bamboohr.com/src/interfaces/EmployeesList.ts
  packages/bamboohr.com/src/interfaces/TimeOffRequestsOptions.ts
  packages/bamboohr.com/src/interfaces/index.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(absence.io): Improve API
  packages/absence.io/package.json
  packages/absence.io/src/AbsenceIO.test.ts
  packages/absence.io/src/AbsenceIO.ts
  packages/absence.io/src/api/APIBase.ts
  packages/absence.io/src/api/AbsenceAPI.ts
  packages/absence.io/src/api/DepartmentAPI.ts
  packages/absence.io/src/api/LocationAPI.ts
  packages/absence.io/src/api/ReasonAPI.ts
  packages/absence.io/src/api/TeamAPI.ts
  packages/absence.io/src/api/UserAPI.ts
  packages/absence.io/src/interfaces/ClientOptions.ts
  yarn.lock
Due: prettier, oxlint, eslint

feat(icanhazdadjoke): Improve API (#1941)
  packages/icanhazdadjoke/package.json
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.test.ts
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
  packages/icanhazdadjoke/src/Interfaces.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): @ffflorian/icanhazdadjoke@2.5.0 [skip ci]
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  c383f52bea77c9ce800d5caa01d735c759c9b6f0
Due: none

feat(imgflip.com): Improve API (#1940)
  packages/imgflip.com/package.json
  packages/imgflip.com/src/Imgflip.test.ts
  packages/imgflip.com/src/Imgflip.ts
  packages/imgflip.com/src/interfaces.ts
  yarn.lock
Due: prettier, oxlint, eslint

docs: Rebuild docs [ci skip]
  docs/packages/imgflip.com/assets/navigation.js
  docs/packages/imgflip.com/assets/search.js
  docs/packages/imgflip.com/classes/Imgflip.html
  docs/packages/imgflip.com/interfaces/API.html
  docs/packages/imgflip.com/interfaces/Box.html
  docs/packages/imgflip.com/interfaces/Image.html
  docs/packages/imgflip.com/interfaces/ImageCaptionWithBoxes.html
  docs/packages/imgflip.com/interfaces/ImageCaptionWithTexts.html
  docs/packages/imgflip.com/interfaces/Meme.html
  docs/packages/imgflip.com/interfaces/Memes.html
  docs/packages/imgflip.com/modules.html
  docs/packages/imgflip.com/types/GetMemesOptions.html
  docs/packages/imgflip.com/types/ImageCaptionOptions.html
  docs/packages/imgflip.com/types/MemeType.html
  docs/packages/imgflip.com/types/Response.html
Due: prettier

chore(release): imgflip.com@3.6.0 [skip ci]
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  2ae344aaf3e82c80402ad94bb86b920b32cef28c
Due: none

feat(statuspage.io): Improve API (#1937)
  packages/statuspage.io/package.json
  packages/statuspage.io/src/Endpoints.ts
  packages/statuspage.io/src/ScheduledMaintenancesAPI.test.ts
  packages/statuspage.io/src/SubscribersAPI.test.ts
  packages/statuspage.io/src/api/ScheduledMaintenancesAPI.ts
  packages/statuspage.io/src/api/SubscribersAPI.ts
  yarn.lock
Due: prettier, oxlint, eslint

docs: Rebuild docs [ci skip]
  docs/packages/statuspage.io/classes/IncidentsAPI.html
  docs/packages/statuspage.io/classes/ScheduledMaintenancesAPI.html
  docs/packages/statuspage.io/classes/Statuspage.html
  docs/packages/statuspage.io/classes/SubscribersAPI.html
  docs/packages/statuspage.io/enums/IncidentImpact.html
  docs/packages/statuspage.io/enums/IncidentStatus.html
  docs/packages/statuspage.io/enums/MaintenanceStatus.html
  docs/packages/statuspage.io/interfaces/API.html
  docs/packages/statuspage.io/interfaces/Component.html
  docs/packages/statuspage.io/interfaces/ComponentSubscriberData.html
  docs/packages/statuspage.io/interfaces/Components.html
  docs/packages/statuspage.io/interfaces/EmailSubscriber.html
  docs/packages/statuspage.io/interfaces/EmailSubscriberData.html
  docs/packages/statuspage.io/interfaces/Incident.html
  docs/packages/statuspage.io/interfaces/IncidentSubscriberData.html
  docs/packages/statuspage.io/interfaces/IncidentUpdate.html
  docs/packages/statuspage.io/interfaces/Incidents.html
  docs/packages/statuspage.io/interfaces/Page.html
  docs/packages/statuspage.io/interfaces/PhoneSubscriber.html
  docs/packages/statuspage.io/interfaces/PhoneSubscriberData.html
  docs/packages/statuspage.io/interfaces/RequestOptions.html
  docs/packages/statuspage.io/interfaces/ScheduledMaintenances.html
  docs/packages/statuspage.io/interfaces/Status.html
  docs/packages/statuspage.io/interfaces/Subscriber.html
  docs/packages/statuspage.io/interfaces/SubscriberOptions.html
  docs/packages/statuspage.io/interfaces/WebhookSubscriber.html
  docs/packages/statuspage.io/interfaces/WebhookSubscriberData.html
  docs/packages/statuspage.io/types/CombinedSubscriber.html
  docs/packages/statuspage.io/types/CombinedSubscriberData.html
  docs/packages/statuspage.io/types/ScheduledMaintenance.html
  docs/packages/statuspage.io/types/Summary.html
Due: none

chore(release): statuspage.io@3.5.0 [skip ci]
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  9ab1823e80f3633706ef62f8da4fe992db91351e
Due: none

feat(libraries.io): Improve API (#1939)
  packages/libraries.io/src/APIMapping.test.ts
  packages/libraries.io/src/api/GitHub/GitHubUserAPI.ts
  packages/libraries.io/src/api/ProjectAPI.ts
Due: prettier, oxlint, eslint

chore(release): libraries.io@3.5.0 [skip ci]
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  a41e45895f99e8fcb44ccd9f8a06a731e00b7f99
Due: none

remove @see references
  packages/absence.io/src/api/AbsenceAPI.ts
  packages/absence.io/src/api/AllowanceTypeAPI.ts
  packages/absence.io/src/api/DepartmentAPI.ts
  packages/absence.io/src/api/LocationAPI.ts
  packages/absence.io/src/api/ReasonAPI.ts
  packages/absence.io/src/api/TeamAPI.ts
  packages/absence.io/src/api/TimespanAPI.ts
  packages/absence.io/src/api/UserAPI.ts
  packages/bamboohr.com/src/api/EmployeesAPI.ts
  packages/bamboohr.com/src/api/TimeOffAPI.ts
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
  packages/libraries.io/src/api/GitHub/GitHubRepositoryAPI.ts
  packages/libraries.io/src/api/GitHub/GitHubUserAPI.ts
  packages/libraries.io/src/api/PlatformAPI.ts
  packages/libraries.io/src/api/ProjectAPI.ts
  packages/libraries.io/src/api/UserAPI.ts
  packages/npms.io/src/api/PackageAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
Due: prettier, oxlint, eslint

add normalizeApiUrl
  AGENTS.md
  packages/absence.io/src/AbsenceIO.test.ts
  packages/absence.io/src/AbsenceIO.ts
  packages/absence.io/src/Endpoints.ts
  packages/absence.io/src/api/APIBase.ts
  packages/absence.io/src/normalizeApiUrl.ts
Due: prettier, oxlint, eslint

feat(npms.io): Improve API (#1938)
  packages/npms.io/package.json
  packages/npms.io/src/Endpoints.ts
  packages/npms.io/src/NpmsIO.test.ts
  packages/npms.io/src/NpmsIO.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/npms.io/src/interfaces/SearchOptions.ts
  packages/npms.io/src/interfaces/SearchResult.ts
  yarn.lock
Due: prettier, oxlint, eslint

docs: Rebuild docs [ci skip]
  docs/packages/npms.io/assets/hierarchy.js
  docs/packages/npms.io/assets/navigation.js
  docs/packages/npms.io/assets/search.js
  docs/packages/npms.io/classes/NpmsIO.html
  docs/packages/npms.io/classes/PackageAPI.html
  docs/packages/npms.io/classes/SearchAPI.html
  docs/packages/npms.io/hierarchy.html
  docs/packages/npms.io/interfaces/API.html
  docs/packages/npms.io/interfaces/Author.html
  docs/packages/npms.io/interfaces/Badge.html
  docs/packages/npms.io/interfaces/ClientOptions.html
  docs/packages/npms.io/interfaces/Collected.html
  docs/packages/npms.io/interfaces/Error.html
  docs/packages/npms.io/interfaces/Evaluation.html
  docs/packages/npms.io/interfaces/Flags.html
  docs/packages/npms.io/interfaces/Package.html
  docs/packages/npms.io/interfaces/PackageInfo.html
  docs/packages/npms.io/interfaces/Publisher.html
  docs/packages/npms.io/interfaces/Result.html
  docs/packages/npms.io/interfaces/Score.html
  docs/packages/npms.io/interfaces/SearchOptions.html
  docs/packages/npms.io/interfaces/SearchResult.html
  docs/packages/npms.io/interfaces/SuggestionResult.html
  docs/packages/npms.io/interfaces/SuggestionsOptions.html
  docs/packages/npms.io/modules.html
  docs/packages/npms.io/types/SuggestionsResult.html
Due: prettier

chore(release): npms.io@2.5.0 [skip ci]
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  a89e191c51966cdfcf3a0ab930d99c01d7d5c9ec
Due: none

feat(absence.io): Improve API (#1945)
  AGENTS.md
  packages/absence.io/package.json
  packages/absence.io/src/AbsenceIO.test.ts
  packages/absence.io/src/AbsenceIO.ts
  packages/absence.io/src/Endpoints.ts
  packages/absence.io/src/api/APIBase.ts
  packages/absence.io/src/api/AbsenceAPI.ts
  packages/absence.io/src/api/AllowanceTypeAPI.ts
  packages/absence.io/src/api/DepartmentAPI.ts
  packages/absence.io/src/api/LocationAPI.ts
  packages/absence.io/src/api/ReasonAPI.ts
  packages/absence.io/src/api/TeamAPI.ts
  packages/absence.io/src/api/TimespanAPI.ts
  packages/absence.io/src/api/UserAPI.ts
  packages/absence.io/src/interfaces/ClientOptions.ts
  packages/absence.io/src/normalizeApiUrl.ts
  packages/bamboohr.com/src/api/EmployeesAPI.ts
  packages/bamboohr.com/src/api/TimeOffAPI.ts
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
  packages/libraries.io/src/api/GitHub/GitHubRepositoryAPI.ts
  packages/libraries.io/src/api/GitHub/GitHubUserAPI.ts
  packages/libraries.io/src/api/PlatformAPI.ts
  packages/libraries.io/src/api/ProjectAPI.ts
  packages/libraries.io/src/api/UserAPI.ts
  packages/npms.io/src/api/PackageAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): libraries.io@3.6.0 [skip ci]
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  31ae5988c1b7e93a50bfcfbf456b18ad6435f906
Due: none

chore(release): absence.io@2.5.0 [skip ci]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  6ebecf87df5a62fef2cc9c89f08de46089640b01
Due: none

chore(release): bamboohr.com@1.6.0 [skip ci]
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
Due: prettier, oxlint, eslint
