Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/**/*.ts'
      run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Use @ffflorian/tslint-config
  .github/main.workflow
  package.json
  tslint.json
  yarn.lock
Due: prettier

chore: Use approximate version for @types/node
  packages/absence.io/package.json
  packages/c3nav/package.json
  packages/crates.io/package.json
  packages/libraries.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Use actions v1.0.0
  .github/main.workflow
Due: none

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

docs: Add actions badge to readme
  README.md
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

fix(security): Upgrade axios to 0.19.0
  packages/api-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  yarn.lock
Due: prettier

chore: Add funding button
  .github/FUNDING.yml
Due: prettier

feat(updown.io): Use @ffflorian/api-client (#98)
  packages/absence.io/src/AbsenceIO.ts
  packages/api-client/package.json
  packages/c3nav/src/APIException.ts
  packages/c3nav/src/index.ts
  packages/libraries.io/src/APIException.ts
  packages/libraries.io/src/LibrariesIO.ts
  packages/libraries.io/src/index.ts
  packages/updown.io/package.json
  packages/updown.io/spec/RequestService.test.ts
  packages/updown.io/spec/support/jasmine.json
  packages/updown.io/src/APIClient.ts
  packages/updown.io/src/APIException.ts
  packages/updown.io/src/RequestService.ts
  packages/updown.io/src/UpdownIO.ts
  packages/updown.io/src/api/ChecksAPI.ts
  packages/updown.io/src/api/NodesAPI.ts
  packages/updown.io/src/index.ts
  packages/updown.io/src/interfaces/Options.ts
  packages/updown.io/tsconfig.jasmine.json
Due: prettier, eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

fix: Streamline internal APIClient versions
  packages/absence.io/package.json
  packages/absence.io/spec/RequestService.test.ts
  packages/absence.io/spec/support/jasmine.json
  packages/absence.io/tsconfig.jasmine.json
  packages/c3nav/package.json
  packages/c3nav/spec/index.spec.ts
  packages/c3nav/spec/support/jasmine.json
  packages/libraries.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/src/XKCDAPI.ts
  yarn.lock
Due: prettier, eslint

fix: Remove empty tests
  packages/c3nav/package.json
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Upgrade handlebars sub-dependency
  yarn.lock
Due: none

chore: Upgrade all sub-dependencies
  yarn.lock
Due: none

chore: Add yarnrc
  .yarnrc
  yarn.lock
Due: none

feat: Set ES6 as target and require Node >= 10.9 (#130)
  package.json
  packages/absence.io/package.json
  packages/api-client/package.json
  packages/c3nav/package.json
  packages/crates.io/package.json
  packages/libraries.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: Use npmjs library
  yarn.lock
Due: none

docs: Rebuild docs [ci skip]
  docs/packages/libraries.io/classes/_api_apibase_.apibase.html
  docs/packages/libraries.io/classes/_api_github_githubrepositoryapi_.githubrepositoryapi.html
  docs/packages/libraries.io/classes/_api_github_githubuserapi_.githubuserapi.html
  docs/packages/libraries.io/classes/_api_platformapi_.platformapi.html
  docs/packages/libraries.io/classes/_api_projectapi_.projectapi.html
  docs/packages/libraries.io/classes/_api_userapi_.userapi.html
  docs/packages/libraries.io/classes/_librariesio_.librariesio.html
  docs/packages/libraries.io/enums/_interfaces_options_.httpstatus.html
  docs/packages/libraries.io/interfaces/_interfaces_api_.api.html
  docs/packages/libraries.io/interfaces/_interfaces_contributor_.contributor.html
  docs/packages/libraries.io/interfaces/_interfaces_librariesioheaders_.librariesioheaders.html
  docs/packages/libraries.io/interfaces/_interfaces_options_.clientoptions.html
  docs/packages/libraries.io/interfaces/_interfaces_options_.filteroptions.html
  docs/packages/libraries.io/interfaces/_interfaces_options_.paginationoptions.html
  docs/packages/libraries.io/interfaces/_interfaces_options_.prereleaseoptions.html
  docs/packages/libraries.io/interfaces/_interfaces_options_.requestoptions.html
  docs/packages/libraries.io/interfaces/_interfaces_options_.searchoptions.html
  docs/packages/libraries.io/interfaces/_interfaces_platform_.platform.html
  docs/packages/libraries.io/interfaces/_interfaces_project_.project.html
  docs/packages/libraries.io/interfaces/_interfaces_project_.projectdependency.html
  docs/packages/libraries.io/interfaces/_interfaces_project_.projectrelease.html
  docs/packages/libraries.io/interfaces/_interfaces_project_.projectversion.html
  docs/packages/libraries.io/interfaces/_interfaces_project_.projectwithdependencies.html
  docs/packages/libraries.io/interfaces/_interfaces_repository_.repository.html
  docs/packages/libraries.io/interfaces/_interfaces_repository_.repositorywithdependencies.html
  docs/packages/libraries.io/interfaces/_interfaces_subscription_.subscription.html
  docs/packages/libraries.io/modules/_interfaces_options_.html
  docs/packages/xkcdjs/classes/_xkcd_.xkcd.html
  docs/packages/xkcdjs/classes/_xkcdapi_.xkcdapi.html
  docs/packages/xkcdjs/interfaces/_interfaces_.clientoptions.html
  docs/packages/xkcdjs/interfaces/_interfaces_.imagedata.html
  docs/packages/xkcdjs/interfaces/_interfaces_.requestoptions.html
  docs/packages/xkcdjs/interfaces/_interfaces_.xkcdresult.html
  docs/packages/xkcdjs/interfaces/_interfaces_.xkcdresultwithdata.html
  docs/packages/xkcdjs/modules/_cli_.html
Due: none

chore: Publish [ci skip]
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Use new GitHub workflow
  .github/actions/rebuild-docs/Dockerfile
  .github/main.workflow
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
  bin/rebuild-docs.sh
Due: prettier

chore: Add workflow steps names [ci skip]
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: prettier

chore: Fix workflow typo [ci skip]
  .github/workflows/pull_request.yml
Due: prettier
