Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx prettier --write {staged_files}
    eslint:
      glob: 'packages/**/*.ts'
      run: npx eslint --fix {staged_files}

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/roman-client/CHANGELOG.md
  packages/roman-client/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Auto-merge type dependencies
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: Use Node.js version 20
  .github/workflows/build_test_publish.yml
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/roman-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

fix resolutions
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier

chore: Use oxlint instead of eslint
  lefthook.yml
  package.json
  packages/absence.io/src/Endpoints.ts
  packages/absence.io/src/api/APIBase.ts
  packages/bamboohr.com/src/Endpoints.ts
  packages/c3nav/src/Endpoints.ts
  packages/crates.io/src/Endpoints.ts
  packages/imgflip.com/src/Endpoints.ts
  packages/libraries.io/src/Endpoints.ts
  packages/libraries.io/src/api/APIBase.ts
  packages/npms.io/src/Endpoints.ts
  packages/statuspage.io/src/Endpoints.ts
  packages/updown.io/src/Endpoints.ts
  yarn.lock
Due: prettier, eslint

chore: Add schema to lerna config [ci skip]
  lerna.json
Due: prettier

chore: Activate auto-merge for types
  .github/workflows/auto-merge.yml
Due: prettier

Fix typo
  packages/imgflip.com/README.md
Due: prettier

fix(impgflip.com): typo (#1610)
  packages/imgflip.com/README.md
Due: prettier

chore: Run dependabot monthly
  .github/dependabot.yml
Due: prettier

chore: Allow @types/node version 20.x
  .github/dependabot.yml
Due: prettier

chore: Update CodeQL scanner
  .github/workflows/codeql-analysis.yml
Due: prettier

feat: Remove roman-client
  README.md
  packages/roman-client/CHANGELOG.md
  packages/roman-client/LICENSE
  packages/roman-client/README.md
  packages/roman-client/package.json
  packages/roman-client/src/Roman.ts
  packages/roman-client/src/index.ts
  packages/roman-client/src/interfaces/Asset.ts
  packages/roman-client/src/interfaces/AssetMeta.ts
  packages/roman-client/src/interfaces/Attachment.ts
  packages/roman-client/src/interfaces/Call.ts
  packages/roman-client/src/interfaces/Conversation.ts
  packages/roman-client/src/interfaces/ErrorMessage.ts
  packages/roman-client/src/interfaces/IncomingMessage.ts
  packages/roman-client/src/interfaces/Member.ts
  packages/roman-client/src/interfaces/Mention.ts
  packages/roman-client/src/interfaces/NewService.ts
  packages/roman-client/src/interfaces/NewUser.ts
  packages/roman-client/src/interfaces/OutgoingMessage.ts
  packages/roman-client/src/interfaces/Poll.ts
  packages/roman-client/src/interfaces/PostMessageResult.ts
  packages/roman-client/src/interfaces/RegisterInfo.ts
  packages/roman-client/src/interfaces/Result.ts
  packages/roman-client/src/interfaces/Service.ts
  packages/roman-client/src/interfaces/SignInData.ts
  packages/roman-client/src/interfaces/Text.ts
  packages/roman-client/src/interfaces/UpdateService.ts
  packages/roman-client/src/interfaces/User.ts
  packages/roman-client/src/interfaces/index.ts
  packages/roman-client/tsconfig.json
Due: prettier, eslint

feat: Remove roman-client (#1645)
  README.md
  packages/roman-client/CHANGELOG.md
  packages/roman-client/LICENSE
  packages/roman-client/README.md
  packages/roman-client/package.json
  packages/roman-client/src/Roman.ts
  packages/roman-client/src/index.ts
  packages/roman-client/src/interfaces/Asset.ts
  packages/roman-client/src/interfaces/AssetMeta.ts
  packages/roman-client/src/interfaces/Attachment.ts
  packages/roman-client/src/interfaces/Call.ts
  packages/roman-client/src/interfaces/Conversation.ts
  packages/roman-client/src/interfaces/ErrorMessage.ts
  packages/roman-client/src/interfaces/IncomingMessage.ts
  packages/roman-client/src/interfaces/Member.ts
  packages/roman-client/src/interfaces/Mention.ts
  packages/roman-client/src/interfaces/NewService.ts
  packages/roman-client/src/interfaces/NewUser.ts
  packages/roman-client/src/interfaces/OutgoingMessage.ts
  packages/roman-client/src/interfaces/Poll.ts
  packages/roman-client/src/interfaces/PostMessageResult.ts
  packages/roman-client/src/interfaces/RegisterInfo.ts
  packages/roman-client/src/interfaces/Result.ts
  packages/roman-client/src/interfaces/Service.ts
  packages/roman-client/src/interfaces/SignInData.ts
  packages/roman-client/src/interfaces/Text.ts
  packages/roman-client/src/interfaces/UpdateService.ts
  packages/roman-client/src/interfaces/User.ts
  packages/roman-client/src/interfaces/index.ts
  packages/roman-client/tsconfig.json
Due: prettier, eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

update @types/node
  yarn.lock
Due: none

chore: Use swc with ts-node
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Update lefthook to 1.10.8
  .yarnrc
  package.json
  yarn.lock
Due: prettier

chore: Disable auto-merge
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: Add Codeberg mirror
  .github/workflows/codeberg_mirror.yml
Due: prettier

chore(deps): Update SvanBoxel/gitlab-mirror-and-ci-action
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: linting [ci skip]
  packages/icanhazdadjoke/src/cli.ts
  packages/xkcdjs/src/cli.ts
Due: eslint

update types
  package.json
  yarn.lock
Due: prettier

docs: Add direct links to documentation
  README.md
Due: prettier
