Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

feat: Add Chats
  packages/useresponse/src/api/ChatsAPI.ts
  packages/useresponse/src/interfaces/UseResponseInterfaces.ts
Due: eslint

new api
  packages/libraries.io/src/LibrariesIO.ts
Due: eslint

format
  packages/libraries.io/src/LibrariesIO.ts
Due: eslint

new API
  packages/absence.io/src/AbsenceIO.ts
Due: eslint

chore: Use OIDC for publishing
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/codeql.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Use personal profile instead of ffflobot
  .github/workflows/build_test_publish.yml
Due: prettier

fix: Release
  .github/workflows/build_test_publish.yml
Due: prettier

fix: Remove GH_USER
  .github/workflows/build_test_publish.yml
  bin/rebuild-docs.sh
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Rename GitLab mirror action
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Add space to docs build script
  bin/rebuild-docs.sh
Due: none

fix: Add readme to package.json and fix repository link
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier

Revert "chore: Add space to docs build script"
  bin/rebuild-docs.sh
Due: none

chore: Sort package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier

chore(deps): Update @ffflorian/eslint-config and @ffflorian/prettier-config
  package.json
  yarn.lock
Due: prettier

fix(bamboohr.com): Insecure randomness
  packages/bamboohr.com/src/BambooHR.ts
Due: eslint

shorten password to 7 chars
  packages/bamboohr.com/src/BambooHR.ts
Due: eslint

fix(bamboohr.com): Insecure randomness (#1838)
  packages/bamboohr.com/src/BambooHR.ts
Due: eslint

chore: Sort package.json [ci skip]
  package.json
Due: prettier

refactor: Re-enable ESLint
  .eslintrc.json
  eslint.config.mts
  lefthook.yml
  package.json
  packages/bamboohr.com/src/BambooHR.ts
  packages/crates.io/src/api/CratesAPI.ts
  packages/icanhazdadjoke/src/cli.ts
  packages/libraries.io/src/api/ProjectAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/xkcdjs/src/cli.ts
  yarn.lock
Due: prettier, eslint

don't lint twice
  .github/workflows/build_test_publish.yml
  package.json
Due: prettier

refactor: Re-enable ESLint (#1840)
  .eslintrc.json
  .github/workflows/build_test_publish.yml
  eslint.config.mts
  lefthook.yml
  package.json
  packages/bamboohr.com/src/BambooHR.ts
  packages/crates.io/src/api/CratesAPI.ts
  packages/icanhazdadjoke/src/cli.ts
  packages/libraries.io/src/api/ProjectAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/xkcdjs/src/cli.ts
  yarn.lock
Due: prettier, eslint

chore: Add eslint-plugin-oxlint
  eslint.config.mts
  package.json
  yarn.lock
Due: prettier

chore(deps): Update @types/node to 24.10.9
  .github/dependabot.yml
  yarn.lock
Due: prettier

chore: Prettier
  .prettierignore
  eslint.config.mts
  package.json
  packages/absence.io/src/AbsenceIO.ts
  packages/crates.io/src/Endpoints.ts
  packages/imgflip.com/README.md
  packages/imgflip.com/src/Endpoints.ts
  packages/imgflip.com/src/Imgflip.ts
  packages/libraries.io/src/Endpoints.ts
  packages/xkcdjs/src/XKCDAPI.test.ts
Due: prettier, eslint

chore: Lint everything
  .github/workflows/build_test_publish.yml
  lefthook.yml
Due: prettier

new eslint config
  eslint.config.mts
  eslint.config.ts
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

use shared config
  eslint.config.ts
  package.json
  yarn.lock
Due: prettier

update
  package.json
  yarn.lock
Due: prettier

chore(deps): Update @ffflorian/eslint-config to 0.12.3
  package.json
  yarn.lock
Due: prettier

chore: Use git mirror for GitLab and Codeberg
  .github/workflows/codeberg_mirror.yml
  .github/workflows/git_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
