Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore(deps): Update yarn lockfile
  yarn.lock
Due: none

fix(statuspage.io): Correct ScheduledMaintenance enum
  packages/statuspage.io/src/interfaces/Result.ts
Due: eslint

fix(statuspage.io): Correct ScheduledMaintenance enum (#1794)
  packages/statuspage.io/src/interfaces/Result.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Remove cat from CI
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Use commit message for test in CI
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Use tsx instead of ts-node
  package.json
  packages/icanhazdadjoke/package.json
  packages/libraries.io/package.json
  packages/xkcdjs/package.json
  tsconfig.json
  yarn.lock
Due: prettier

refactor: Rename fs import
  packages/icanhazdadjoke/src/cli.ts
  packages/xkcdjs/src/cli.ts
Due: eslint

refactor: Rename fs import (#1810)
  packages/icanhazdadjoke/src/cli.ts
  packages/xkcdjs/src/cli.ts
Due: eslint

chore: Update CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: prettier

remove codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier

chore: Update CodeQL analysis workflow configuration (#1811)
  .github/workflows/codeql.yml
Due: prettier

chore: Add workflow permissions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Update readme and yarn.lock
  README.md
  packages/c3nav/README.md
  yarn.lock
Due: prettier

docs: Update readme
  README.md
Due: prettier

[skip ci] chore: Publish
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
Due: prettier

[skip ci] chore: Publish
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Move CSS assets, don't build docs on publish
  docs/css/main.css
  docs/css/main.css.map
  docs/index.html
  package.json
Due: prettier

fix(absence.io): Don't delete docs on clean
  packages/absence.io/package.json
Due: prettier

feat(api-client): Add/remove a requestInjector (#46)
  packages/api-client/src/APIClient.ts
  packages/api-client/src/RequestService.ts
Due: eslint

chore: Rebuild docs before publishing (#47)
  .github/actions/rebuild-docs/Dockerfile
  .github/actions/rebuild-docs/entrypoint.sh
  .github/main.workflow
  package.json
  packages/absence.io/package.json
  packages/api-client/package.json
  packages/c3nav/package.json
  packages/crates.io/package.json
  packages/libraries.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
Due: prettier

fix: Make entrypoint.sh executable
  .github/actions/rebuild-docs/entrypoint.sh
Due: none

fix: Don't run on rebuild
  .github/actions/rebuild-docs/entrypoint.sh
  .github/main.workflow
Due: none

chore: Build docs only for updated packages (#48)
  .github/actions/rebuild-docs/entrypoint.sh
  .github/main.workflow
  bin/updated.sh
  lerna.json
Due: prettier

chore(api-client): Fix description
  .github/actions/rebuild-docs/entrypoint.sh
  packages/api-client/package.json
Due: prettier

chore: Move updated.sh code into entrypoint
  .github/actions/rebuild-docs/entrypoint.sh
  bin/updated.sh
Due: none

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Use @ffflorian/prettier-config
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Move husky to package.json
  .huskyrc.js
  package.json
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
