Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

docs(useresponse): Remove invalid JSDoc tag
  packages/useresponse/src/interfaces/UseResponseInterfaces.ts
Due: prettier, oxlint, eslint

chore(release): useresponse@1.0.0 [skip ci]
  packages/useresponse/CHANGELOG.md
  packages/useresponse/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  df86710567de4db34bbe499a429b6127839e03aa
Due: none

chore: Upload docs with semantic-release
  .github/workflows/build_test_publish.yml
  .releaserc.json
  bin/rebuild-docs.sh
  bin/setup-ci-git-author.sh
Due: prettier

chore: Use Node.js 26
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  AGENTS.md
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/useresponse/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, oxlint, eslint

chore: Upload docs with semantic-release (#1963)
  .github/workflows/build_test_publish.yml
  .releaserc.json
  bin/rebuild-docs.sh
  bin/setup-ci-git-author.sh
Due: prettier

chore: Use Node.js 26 (#1964)
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  AGENTS.md
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/useresponse/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, oxlint, eslint

chore: Fix permissions for bash script
  bin/setup-ci-git-author.sh
Due: none

chore: Use corepack
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  lefthook.yml
  package.json
Due: prettier

enable corepack
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Check weekly for dependency updates
  .github/dependabot.yml
Due: prettier

chore: Add release cooldown for yarn update
  .github/workflows/yarn_update.yml
Due: prettier

chore(release): imgflip.com@3.6.1 [skip ci]
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  6ce9f9595b1a439ae724bf07a012d08da96ba8f8
Due: none

chore(deps): Use non-scoped lefthook package
  package.json
  yarn.lock
Due: prettier

fix(deps): Update socks and ip-address
  yarn.lock
Due: none

chore: update force-release
  .github/workflows/build_test_publish.yml
  .github/workflows/force-release.yml
Due: prettier

ci: Update yarn-update workflow
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): bump yarn to version 4.15.0
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Group oxlint updates [ci skip]
  .github/dependabot.yml
Due: prettier

update workflow
  .github/workflows/yarn_update.yml
Due: prettier

ci: Remove CodeQL workflow [ci skip]
  .github/workflows/codeql.yml
Due: prettier

ci: Update yarn_update workflow [ci skip]
  .github/workflows/yarn_update.yml
Due: prettier

ci: Update git_mirror workflow [ci skip]
  .github/workflows/git_mirror.yml
Due: prettier

chore: Update dependabot config [ci skip]
  .github/dependabot.yml
Due: prettier

ci: Update build_test_publish workflow name
  .github/workflows/build_test_publish.yml
Due: prettier

chore(deps): bump yarn to version 4.16.0
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

ci: fix if case in build_test_publish workflow
  .github/workflows/build_test_publish.yml
Due: prettier

chore(deps): block only next major in dependabot ignore rules [ci skip]
  .github/dependabot.yml
Due: prettier

chore: migrate to TypeScript 7.0 RC (typescript@rc)
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/useresponse/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, oxlint, eslint

fix(deps): Bump undici to 7.28.0
  yarn.lock
Due: none

ci: Group ffflorian/actions updates [ci skip]
  .github/dependabot.yml
Due: prettier

chore(deps-dev): Bump @types/node to ~26
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/useresponse/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, oxlint, eslint

fix(deps): Bump vite to 8.1.1
  yarn.lock
Due: none

chore(deps): bump yarn to version 4.17.0
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): imgflip.com@3.6.2 [skip ci]
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  b1b7eec393bf81c0fddb042d94727d08cfb86bf5
Due: none

chore(deps-dev): Update yarn lockfile
  yarn.lock
Due: none

Path conditions:
  prettier: any of: *.{js,ts,css,md,json,yml,yaml}
  oxlint: any of: packages/*
  eslint: any of: packages/*
