Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

refactor(absence.io): Internal renaming, use Record
  packages/absence.io/src/api/AbsenceAPI.ts
  packages/absence.io/src/api/AllowanceTypeAPI.ts
  packages/absence.io/src/api/DepartmentAPI.ts
  packages/absence.io/src/api/LocationAPI.ts
  packages/absence.io/src/api/ReasonAPI.ts
  packages/absence.io/src/api/TeamAPI.ts
  packages/absence.io/src/api/TimespanAPI.ts
  packages/absence.io/src/api/UserAPI.ts
  packages/absence.io/src/interfaces/Options.ts
Due: eslint

fix(absence.io): Post data directly
  packages/absence.io/src/api/AbsenceAPI.ts
  packages/absence.io/src/api/AllowanceTypeAPI.ts
  packages/absence.io/src/api/DepartmentAPI.ts
  packages/absence.io/src/api/LocationAPI.ts
  packages/absence.io/src/api/TeamAPI.ts
  packages/absence.io/src/api/TimespanAPI.ts
  packages/absence.io/src/api/UserAPI.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
Due: prettier

fix(absence.io): Add reason to Absence payload
  packages/absence.io/src/interfaces/Absence.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

fix(absence.io): Add possible absence keys added with relations
  packages/absence.io/src/interfaces/Absence.ts
Due: eslint

feat(icanhazdadjoke): Add package icanhazdadjoke (#280)
  README.md
  docs/packages/icanhazdadjoke/assets/css/main.css
  docs/packages/icanhazdadjoke/assets/images/icons.png
  docs/packages/icanhazdadjoke/assets/images/icons@2x.png
  docs/packages/icanhazdadjoke/assets/images/widgets.png
  docs/packages/icanhazdadjoke/assets/images/widgets@2x.png
  docs/packages/icanhazdadjoke/assets/js/main.js
  docs/packages/icanhazdadjoke/assets/js/search.js
  docs/packages/icanhazdadjoke/classes/_icanhazdadjoke_.icanhazdadjoke.html
  docs/packages/icanhazdadjoke/classes/_icanhazdadjokeapi_.icanhazdadjokeapi.html
  docs/packages/icanhazdadjoke/globals.html
  docs/packages/icanhazdadjoke/index.html
  docs/packages/icanhazdadjoke/interfaces/_interfaces_.clientoptions.html
  docs/packages/icanhazdadjoke/interfaces/_interfaces_.icanhazdadjokeresult.html
  docs/packages/icanhazdadjoke/interfaces/_interfaces_.jokeresultwithimage.html
  docs/packages/icanhazdadjoke/interfaces/_interfaces_.jokesearchresult.html
  docs/packages/icanhazdadjoke/interfaces/_interfaces_.requestoptions.html
  docs/packages/icanhazdadjoke/interfaces/_interfaces_.searchoptions.html
  docs/packages/icanhazdadjoke/modules/_cli_.html
  docs/packages/icanhazdadjoke/modules/_icanhazdadjoke_.html
  docs/packages/icanhazdadjoke/modules/_icanhazdadjokeapi_.html
  docs/packages/icanhazdadjoke/modules/_interfaces_.html
  packages/icanhazdadjoke/LICENSE
  packages/icanhazdadjoke/README.md
  packages/icanhazdadjoke/package.json
  packages/icanhazdadjoke/src/ICanHazDadJoke.ts
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
  packages/icanhazdadjoke/src/Interfaces.ts
  packages/icanhazdadjoke/src/cli.ts
  packages/icanhazdadjoke/src/index.ts
  packages/icanhazdadjoke/tsconfig.json
Due: prettier, eslint

fix(icanhazdadjoke): Typo in user agent
  packages/icanhazdadjoke/src/ICanHazDadJoke.ts
Due: eslint

chore: Publish [ci skip]
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
Due: prettier

fix(icanhazdadjoke): Return values and interface name
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
  packages/icanhazdadjoke/src/Interfaces.ts
  packages/icanhazdadjoke/src/cli.ts
Due: eslint

fix(icanhazdadjoke): Interface typo
  packages/icanhazdadjoke/src/Interfaces.ts
Due: eslint

refactor(absence.io): Add hawk types (#288)
  packages/absence.io/package.json
  packages/absence.io/src/AbsenceIO.ts
  yarn.lock
Due: prettier, eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

fix(absence.io): When retrieving a single user use GET request instead of POST (#307)
  packages/absence.io/src/api/UserAPI.ts
Due: eslint

chore: Upgrade yarn lockfile
  yarn.lock
Due: none

chore(xkcdjs): Prettier
  packages/xkcdjs/spec/XKCDAPI.test.ts
Due: eslint

feat: Add imgflip.com API (#359)
  packages/imgflip.com/LICENSE
  packages/imgflip.com/README.md
  packages/imgflip.com/package.json
  packages/imgflip.com/src/Endpoints.ts
  packages/imgflip.com/src/Imgflip.ts
  packages/imgflip.com/src/index.ts
  packages/imgflip.com/src/interfaces.ts
  packages/imgflip.com/tsconfig.json
Due: prettier, eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

fix(imgflip.com): Add getMemes return type
  packages/imgflip.com/src/interfaces.ts
Due: eslint

fix(imgflip.com): Interface comments
  packages/imgflip.com/src/Imgflip.ts
  packages/imgflip.com/src/interfaces.ts
Due: eslint

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
