Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

chore: Remove husky restriction
  .github/dependabot.yml
Due: prettier

chore: Switch from husky/lint-staged to lefthook (#1075)
  .github/dependabot.yml
  .huskyrc.json
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore: Re-add files to git after running lefthook
  lefthook.yml
Due: prettier

chore: Add staged files only once
  lefthook.yml
Due: prettier

chore: Update CodeQL analysis
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
Due: prettier

fix types
  yarn.lock
Due: none

fix types
  packages/roman-client/src/Roman.ts
Due: eslint

chore: Run GitLab mirror only on push to main branch
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Update GitLab mirror
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Update Node.js to version 18
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/roman-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Update Node.js to version 18 (#1189)
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/roman-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

update API
  packages/absence.io/src/AbsenceIO.ts
  packages/imgflip.com/src/Imgflip.ts
Due: eslint

update API
  packages/roman-client/src/Roman.ts
  packages/updown.io/src/UpdownIO.ts
Due: eslint

new API
  packages/roman-client/src/Roman.ts
Due: eslint

chore: Remove skip CI check
  .github/workflows/build_test_publish.yml
Due: prettier

fix(statuspage.io): Update docs for `getStatus`
  packages/statuspage.io/src/Statuspage.ts
Due: eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/roman-client/CHANGELOG.md
  packages/roman-client/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Use npmjs.org registry
  yarn.lock
Due: none

docs: Add SECURITY.md
  SECURITY.md
Due: prettier

chore: Use yarn v2
  .github/workflows/build_test_publish.yml
  .gitignore
  .npmrc
  .prettierignore
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  packages/icanhazdadjoke/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Remove yarn boot
  .github/workflows/build_test_publish.yml
  package.json
Due: prettier

chore: Revert upgrading yarn
  .github/workflows/build_test_publish.yml
  .gitignore
  .npmrc
  .prettierignore
  .yarn/install-state.gz
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  packages/icanhazdadjoke/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

chore: Check weekly for dependabot updates
  .github/dependabot.yml
Due: prettier

fix wrong property name
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
Due: eslint

fix(icanhazdadjoke): wrong property name (#1354)
  packages/icanhazdadjoke/src/ICanHazDadJokeAPI.ts
Due: eslint

chore: fix .yarnrc [ci skip]
  .yarnrc
Due: none

update yarn.lock
  package.json
  yarn.lock
Due: prettier

remove old config
  lerna.json
  yarn.lock
Due: prettier

remove old command
  package.json
Due: prettier

remove old command
  .github/workflows/build_test_publish.yml
  package.json
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
