Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/**/*.ts'
      run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

fix(crates.io): Use q as query parameter
  packages/crates.io/src/api/CratesAPI.ts
  packages/crates.io/src/interfaces/Options.ts
Due: eslint

chore: Publish [ci skip]
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
Due: prettier

chore: Update CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: prettier

chore: Use actions/setup-node@v2
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Add more funding sites
  .github/FUNDING.yml
Due: prettier

docs(roman-client): Use single ticks
  packages/roman-client/README.md
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/roman-client/CHANGELOG.md
  packages/roman-client/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

feat(roman-client): Update interfaces
  packages/roman-client/src/interfaces/AssetMeta.ts
  packages/roman-client/src/interfaces/Attachment.ts
  packages/roman-client/src/interfaces/Call.ts
  packages/roman-client/src/interfaces/IncomingMessage.ts
  packages/roman-client/src/interfaces/NewService.ts
  packages/roman-client/src/interfaces/OutgoingMessage.ts
  packages/roman-client/src/interfaces/User.ts
  packages/roman-client/src/interfaces/index.ts
Due: eslint

chore: Publish [ci skip]
  packages/roman-client/CHANGELOG.md
  packages/roman-client/package.json
Due: prettier

chore: Remove fetch-depth
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Update yarn.lock
  yarn.lock
Due: none

chore: Enable Dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
Due: prettier

chore: Use Node.js 16
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/roman-client/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

feat(bamboohr.com): Handle errors, add more TimeOff endpoints
  packages/bamboohr.com/src/BambooHR.ts
  packages/bamboohr.com/src/Endpoints.ts
  packages/bamboohr.com/src/api/EmployeesAPI.ts
  packages/bamboohr.com/src/api/TimeOffAPI.ts
  packages/bamboohr.com/src/interfaces/DefaultHour.ts
  packages/bamboohr.com/src/interfaces/TimeOffPolicy.ts
  packages/bamboohr.com/src/interfaces/TimeOffRequest.ts
  packages/bamboohr.com/src/interfaces/TimeOffRequestsOptions.ts
  packages/bamboohr.com/src/interfaces/TimeOffType.ts
  packages/bamboohr.com/src/interfaces/TimeOffTypes.ts
  packages/bamboohr.com/src/interfaces/index.ts
Due: eslint

fix(icanhazdadjoke): Use correct CLI options
  packages/icanhazdadjoke/src/cli.ts
Due: eslint

chore: Upgrade yarn.lock
  yarn.lock
Due: none

chore: Don't scan docs directory
  .github/workflows/codeql-analysis.yml
Due: prettier

fix: Upgrade yarn lock file
  yarn.lock
Due: none

chore: Export interface Reason as well (#936)
  packages/absence.io/src/interfaces/index.ts
Due: eslint

feat(absence.io): Update UserAPI.ts with retrieveUserByOption (#937)
  packages/absence.io/src/api/UserAPI.ts
Due: eslint

fix(npms.io): Search query doesn't need to be encoded (#959)
  packages/npms.io/src/api/SearchAPI.ts
Due: eslint

chore: Disable Dependabot auto-merge feature
  .github/workflows/dependabot-auto-merge.yml
Due: prettier

chore: Create GitLab mirror
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Add license
  package.json
Due: prettier

fix(statuspage.io): remove reference to node url lib to make it compatible with browser (#1036)
  packages/statuspage.io/src/Statuspage.ts
Due: eslint
