Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/**/*.ts'
      run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Allow @types/node version 20.x
  .github/dependabot.yml
Due: prettier

chore: Update CodeQL scanner
  .github/workflows/codeql-analysis.yml
Due: prettier

feat: Remove roman-client (#1645)
  README.md
  packages/roman-client/CHANGELOG.md
  packages/roman-client/LICENSE
  packages/roman-client/README.md
  packages/roman-client/package.json
  packages/roman-client/src/Roman.ts
  packages/roman-client/src/index.ts
  packages/roman-client/src/interfaces/Asset.ts
  packages/roman-client/src/interfaces/AssetMeta.ts
  packages/roman-client/src/interfaces/Attachment.ts
  packages/roman-client/src/interfaces/Call.ts
  packages/roman-client/src/interfaces/Conversation.ts
  packages/roman-client/src/interfaces/ErrorMessage.ts
  packages/roman-client/src/interfaces/IncomingMessage.ts
  packages/roman-client/src/interfaces/Member.ts
  packages/roman-client/src/interfaces/Mention.ts
  packages/roman-client/src/interfaces/NewService.ts
  packages/roman-client/src/interfaces/NewUser.ts
  packages/roman-client/src/interfaces/OutgoingMessage.ts
  packages/roman-client/src/interfaces/Poll.ts
  packages/roman-client/src/interfaces/PostMessageResult.ts
  packages/roman-client/src/interfaces/RegisterInfo.ts
  packages/roman-client/src/interfaces/Result.ts
  packages/roman-client/src/interfaces/Service.ts
  packages/roman-client/src/interfaces/SignInData.ts
  packages/roman-client/src/interfaces/Text.ts
  packages/roman-client/src/interfaces/UpdateService.ts
  packages/roman-client/src/interfaces/User.ts
  packages/roman-client/src/interfaces/index.ts
  packages/roman-client/tsconfig.json
Due: prettier, eslint

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Use swc with ts-node
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Update lefthook to 1.10.8
  .yarnrc
  package.json
  yarn.lock
Due: prettier

chore: Disable auto-merge
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier

chore: Add Codeberg mirror
  .github/workflows/codeberg_mirror.yml
Due: prettier

chore(deps): Update SvanBoxel/gitlab-mirror-and-ci-action
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: linting [ci skip]
  packages/icanhazdadjoke/src/cli.ts
  packages/xkcdjs/src/cli.ts
Due: eslint

docs: Add direct links to documentation
  README.md
Due: prettier

chore: Use new caching mechanism
  .github/workflows/build_test_publish.yml
Due: prettier

chore(deps): Update form-data to 2.5.5
  yarn.lock
Due: none

chore: Use npm registry in yarn lockfile
  yarn.lock
Due: none

chore: don't update lockfile in pipeline
  .github/workflows/build_test_publish.yml
Due: prettier

test: Replace jasmine with vitest (#1755)
  .eslintrc.json
  package.json
  packages/absence.io/tsconfig.json
  packages/bamboohr.com/tsconfig.json
  packages/c3nav/tsconfig.jasmine.json
  packages/c3nav/tsconfig.json
  packages/corona-warn-app/tsconfig.json
  packages/crates.io/tsconfig.json
  packages/icanhazdadjoke/tsconfig.json
  packages/imgflip.com/tsconfig.json
  packages/libraries.io/package.json
  packages/libraries.io/spec/support/jasmine.json
  packages/libraries.io/src/Endpoint.test.ts
  packages/libraries.io/tsconfig.jasmine.json
  packages/libraries.io/tsconfig.json
  packages/npms.io/tsconfig.json
  packages/statuspage.io/tsconfig.json
  packages/updown.io/tsconfig.json
  packages/xkcdjs/package.json
  packages/xkcdjs/spec/support/jasmine.json
  packages/xkcdjs/src/XKCDAPI.test.ts
  packages/xkcdjs/tsconfig.jasmine.json
  packages/xkcdjs/tsconfig.json
  yarn.lock
Due: prettier, eslint

chore: Use yarn berry and Node.js 24 (#1754)
  .github/workflows/build_test_publish.yml
  .gitignore
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier

fix(statuspage.io): ScheduledMaintenances in Summary (#1756)
  packages/statuspage.io/src/interfaces/Result.ts
Due: eslint

chore: Remove yarn client args
  lerna.json
Due: prettier
