Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{json,md,yml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/**/*.ts'
      run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore(deps): Update yarn lockfile
  yarn.lock
Due: none

fix(statuspage.io): Correct ScheduledMaintenance enum (#1794)
  packages/statuspage.io/src/interfaces/Result.ts
Due: eslint

chore: Remove cat from CI
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Use tsx instead of ts-node
  package.json
  packages/icanhazdadjoke/package.json
  packages/libraries.io/package.json
  packages/xkcdjs/package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: Use commit message for test in CI
  .github/workflows/build_test_publish.yml
Due: prettier

refactor: Rename fs import (#1810)
  packages/icanhazdadjoke/src/cli.ts
  packages/xkcdjs/src/cli.ts
Due: eslint

chore: Add workflow permissions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeberg_mirror.yml
  .github/workflows/gitlab_mirror.yml
Due: prettier

chore: Update CodeQL analysis workflow configuration (#1811)
  .github/workflows/codeql.yml
Due: prettier

fix: Don't publish test files
  packages/absence.io/package.json
  packages/absence.io/tsconfig.build.json
  packages/bamboohr.com/package.json
  packages/bamboohr.com/tsconfig.build.json
  packages/c3nav/package.json
  packages/c3nav/tsconfig.build.json
  packages/corona-warn-app/package.json
  packages/corona-warn-app/tsconfig.build.json
  packages/crates.io/package.json
  packages/crates.io/tsconfig.build.json
  packages/icanhazdadjoke/package.json
  packages/icanhazdadjoke/tsconfig.build.json
  packages/imgflip.com/package.json
  packages/imgflip.com/tsconfig.build.json
  packages/libraries.io/package.json
  packages/libraries.io/tsconfig.build.json
  packages/npms.io/package.json
  packages/npms.io/tsconfig.build.json
  packages/statuspage.io/package.json
  packages/statuspage.io/tsconfig.build.json
  packages/updown.io/package.json
  packages/updown.io/tsconfig.build.json
  packages/xkcdjs/package.json
  packages/xkcdjs/tsconfig.build.json
  packages/xkcdjs/tsconfig.json
Due: prettier

fix: Let typedoc use correct tsconfig file
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  typedoc.json
  yarn.lock
Due: prettier

docs: Let typedoc use correct tsconfig file (#1812)
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  typedoc.json
  yarn.lock
Due: prettier

fix types
  packages/corona-warn-app/src/api/DiagnosisKeysAPI.ts
  yarn.lock
Due: eslint

chore: Fix workflow permissions
  .github/workflows/build_test_publish.yml
Due: prettier

remove qs
  packages/bamboohr.com/package.json
  packages/bamboohr.com/src/Endpoints.ts
Due: prettier, eslint

update lockfile
  yarn.lock
Due: none

fix build
  packages/corona-warn-app/package.json
  packages/imgflip.com/package.json
  packages/statuspage.io/package.json
  tsconfig.json
  yarn.lock
Due: prettier

update api-client
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  packages/xkcdjs/src/XKCDAPI.test.ts
  yarn.lock
Due: prettier, eslint

chore(deps): Update yarn to 4.12.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: Add npmPublishAccess and defaultSemverRangePrefix to yarn config
  .npmrc
  .yarnrc.yml
Due: prettier

feat: Add UseResponse API
  README.md
  packages/useresponse/LICENSE
  packages/useresponse/README.md
  packages/useresponse/package.json
  packages/useresponse/src/Endpoints.ts
  packages/useresponse/src/UseResponse.ts
  packages/useresponse/src/api/AdditionalAPI.ts
  packages/useresponse/src/api/AuthAPI.ts
  packages/useresponse/src/api/CategoriesAPI.ts
  packages/useresponse/src/api/ChangelogAPI.ts
  packages/useresponse/src/api/ChatsAPI.ts
  packages/useresponse/src/api/CommentsAPI.ts
  packages/useresponse/src/api/CustomFieldsAPI.ts
  packages/useresponse/src/api/ModerationAPI.ts
  packages/useresponse/src/api/ObjectsAPI.ts
  packages/useresponse/src/api/ReportsAPI.ts
  packages/useresponse/src/api/UserNotesAPI.ts
  packages/useresponse/src/api/UsersAPI.ts
  packages/useresponse/src/api/index.ts
  packages/useresponse/src/index.ts
  packages/useresponse/src/interfaces/API.ts
  packages/useresponse/src/interfaces/ClientOptions.ts
  packages/useresponse/src/interfaces/UseResponseInterfaces.ts
  packages/useresponse/src/interfaces/index.ts
  packages/useresponse/tsconfig.build.json
  packages/useresponse/tsconfig.json
  yarn.lock
Due: prettier, eslint

feat: Add Auth and Categories
  packages/absence.io/package.json
  packages/absence.io/src/AbsenceIO.ts
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/libraries.io/src/LibrariesIO.ts
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/useresponse/package.json
  packages/useresponse/src/Endpoints.ts
  packages/useresponse/src/UseResponse.ts
  packages/useresponse/src/api/AuthAPI.ts
  packages/useresponse/src/api/CategoriesAPI.ts
  packages/useresponse/src/interfaces/ClientOptions.ts
  packages/useresponse/src/interfaces/UseResponseInterfaces.ts
  packages/xkcdjs/package.json
  yarn.lock
Due: prettier, eslint

feat: Add Changelog
  packages/useresponse/src/api/AdditionalAPI.ts
  packages/useresponse/src/api/AuthAPI.ts
  packages/useresponse/src/api/CategoriesAPI.ts
  packages/useresponse/src/api/ChangelogAPI.ts
  packages/useresponse/src/interfaces/UseResponseInterfaces.ts
Due: eslint
