Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install oxlint --fix {staged_files} && git add {staged_files}

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Fix npm release
  .github/workflows/push_master.yml
Due: prettier

fix: Checkout master before publish
  .github/workflows/push_master.yml
Due: prettier

feat(xkcdjs): Remove fs-extra dependency (#160)
  packages/xkcdjs/package.json
  packages/xkcdjs/src/cli.ts
Due: prettier, eslint

docs: Rebuild docs [ci skip]
  docs/packages/xkcdjs/classes/_xkcd_.xkcd.html
  docs/packages/xkcdjs/classes/_xkcdapi_.xkcdapi.html
  docs/packages/xkcdjs/interfaces/_interfaces_.clientoptions.html
  docs/packages/xkcdjs/interfaces/_interfaces_.imagedata.html
  docs/packages/xkcdjs/interfaces/_interfaces_.requestoptions.html
  docs/packages/xkcdjs/interfaces/_interfaces_.xkcdresult.html
  docs/packages/xkcdjs/interfaces/_interfaces_.xkcdresultwithdata.html
  docs/packages/xkcdjs/modules/_cli_.html
Due: none

chore: Update yarn lockfile
  yarn.lock
Due: none

chore: Publish [ci skip]
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Add job names, don't release chores
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: prettier

feat(npms.io): Add package npms.io (#172)
  README.md
  packages/c3nav/README.md
  packages/libraries.io/README.md
  packages/npms.io/LICENSE
  packages/npms.io/README.md
  packages/npms.io/package.json
  packages/npms.io/src/Endpoints.ts
  packages/npms.io/src/NpmsIO.ts
  packages/npms.io/src/api/PackageAPI.ts
  packages/npms.io/src/api/SearchAPI.ts
  packages/npms.io/src/api/index.ts
  packages/npms.io/src/index.ts
  packages/npms.io/src/interfaces/API.ts
  packages/npms.io/src/interfaces/ClientOptions.ts
  packages/npms.io/src/interfaces/PackageInfo.ts
  packages/npms.io/src/interfaces/SearchOptions.ts
  packages/npms.io/src/interfaces/SearchResult.ts
  packages/npms.io/src/interfaces/index.ts
  packages/npms.io/tsconfig.json
  packages/updown.io/README.md
Due: prettier, eslint

fix: Docs rebuild
  .github/workflows/push_master.yml
Due: prettier

chore: Switch to GPL v3
  LICENSE
  packages/absence.io/LICENSE
  packages/absence.io/package.json
  packages/api-client/LICENSE
  packages/api-client/package.json
  packages/c3nav/LICENSE
  packages/c3nav/package.json
  packages/crates.io/LICENSE
  packages/crates.io/package.json
  packages/libraries.io/LICENSE
  packages/libraries.io/package.json
  packages/npms.io/LICENSE
  packages/npms.io/package.json
  packages/statuspage.io/LICENSE
  packages/statuspage.io/package.json
  packages/updown.io/LICENSE
  packages/updown.io/package.json
  packages/xkcdjs/LICENSE
  packages/xkcdjs/package.json
Due: prettier

chore: Fix git release config
  .github/workflows/push_master.yml
Due: prettier

refactor(api-client): Use optional chaining
  .gitignore
  .prettierignore
  package.json
  packages/api-client/src/APIException.ts
  yarn.lock
Due: prettier, eslint

chore: Fix automatic releasing
  .github/workflows/push_master.yml
  bin/rebuild-docs.sh
Due: prettier

chore: Add yarn cache to GitHub actions
  .github/workflows/pull_request.yml
Due: prettier

refactor(api-client): Always destructure options
  packages/api-client/src/RequestService.ts
Due: eslint

chore: Use Node.js 12 for testing
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: prettier

chore: Don't publish chores
  .github/workflows/push_master.yml
Due: prettier

fix: Set correct credentials for pushing docs
  .github/workflows/push_master.yml
  bin/rebuild-docs.sh
  package.json
Due: prettier

chore: Publish [ci skip]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
  packages/statuspage.io/CHANGELOG.md
  packages/statuspage.io/package.json
  packages/updown.io/CHANGELOG.md
  packages/updown.io/package.json
  packages/xkcdjs/CHANGELOG.md
  packages/xkcdjs/package.json
Due: prettier

chore: Use skip-checks when publishing
  lerna.json
Due: prettier

chore: Add skip-checks for docs rebuild
  bin/rebuild-docs.sh
Due: none

chore: Use if check on job level in workflows [ci skip]
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
  README.md
Due: prettier

chore: Remove skip-checks
  bin/rebuild-docs.sh
  lerna.json
Due: prettier

fix(absence.io): Use complete URL for header (#276)
  packages/absence.io/package.json
  packages/absence.io/src/AbsenceIO.ts
  yarn.lock
Due: prettier, eslint

fix: Don't verify on git push
  bin/rebuild-docs.sh
Due: none

Path conditions:
  prettier: any of: *.{json,md,yml}
  eslint: any of: packages/**/*.ts
