Repository ffflorian/api-clients: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,css,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: 'packages/*'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: 'packages/*'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore: Add yarn update action
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): Update lerna to 9.0.4
  package.json
  yarn.lock
Due: prettier

chore: Create pull request only if yarn version is outdated
  .github/workflows/yarn_update.yml
Due: prettier

chore: Push only main branch to git mirror
  .github/workflows/git_mirror.yml
Due: prettier

chore: Don't lint .yarnrc.yml
  .github/workflows/yarn_update.yml
  .prettierignore
Due: prettier

chore(deps): bump yarn to version 4.13.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(deps): Update yarn lockfile
  yarn.lock
Due: none

chore(deps): Bump typescript to 6.0.2
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

add node types
  tsconfig.json
Due: prettier

chore(deps): Bump typescript to 6.0.2 (#1878)
  package.json
  packages/absence.io/package.json
  packages/bamboohr.com/package.json
  packages/c3nav/package.json
  packages/corona-warn-app/package.json
  packages/crates.io/package.json
  packages/icanhazdadjoke/package.json
  packages/imgflip.com/package.json
  packages/libraries.io/package.json
  packages/npms.io/package.json
  packages/statuspage.io/package.json
  packages/updown.io/package.json
  packages/xkcdjs/package.json
  tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

chore: Add minimum release age for dependabot [ci skip]
  .github/dependabot.yml
Due: prettier

chore: replace lerna with multi-semantic-release and yarn workspaces
  .github/workflows/build_test_publish.yml
  .npmrc
  .releaserc.json
  AGENTS.md
  lerna.json
  package.json
  yarn.lock
Due: prettier

chore: Add CLAUDE.md
  CLAUDE.md
Due: prettier

chore: replace lerna with multi-semantic-release and yarn workspaces (#1896)
  .github/workflows/build_test_publish.yml
  .npmrc
  .releaserc.json
  AGENTS.md
  CLAUDE.md
  lerna.json
  package.json
  yarn.lock
Due: prettier

chore: replace lerna with yarn workspaces in rebuild-docs script
  bin/rebuild-docs.sh
Due: none

chore: replace lerna with yarn workspaces in rebuild-docs script (#1898)
  bin/rebuild-docs.sh
Due: none

fix: correct yarn workspaces foreach usage in rebuild-docs script
  bin/rebuild-docs.sh
Due: none

ci: correct yarn workspaces foreach usage in rebuild-docs script (#1899)
  bin/rebuild-docs.sh
Due: none

chore(release): 1.5.6 [skip ci]
  packages/bamboohr.com/CHANGELOG.md
  packages/bamboohr.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  218a82b199124b9cffb97b4700e01cb60aac2bf7
Due: none

chore(release): 2.4.6 [skip ci]
  packages/absence.io/CHANGELOG.md
  packages/absence.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  be85e7041fabd7825d3065fa17fc121cd4f22fb5
Due: none

chore(release): 3.4.6 [skip ci]
  packages/c3nav/CHANGELOG.md
  packages/c3nav/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  f1c8894e2651d768e8171c6957e5c3bcf4923d2f
Due: none

chore(release): 2.4.6 [skip ci]
  packages/corona-warn-app/CHANGELOG.md
  packages/corona-warn-app/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  16418985c27c6596bf570b97ed210ee757111d3e
Due: none

chore(release): 2.4.6 [skip ci]
  packages/crates.io/CHANGELOG.md
  packages/crates.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  8a4019383789e8b247fc9c04c56c936d1d97bf5e
Due: none

chore(release): 2.4.6 [skip ci]
  packages/icanhazdadjoke/CHANGELOG.md
  packages/icanhazdadjoke/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  be1db740cf9e9642f2f5dcb41854ef5a8b07e82e
Due: none

chore(release): 3.5.6 [skip ci]
  packages/imgflip.com/CHANGELOG.md
  packages/imgflip.com/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  1629534f46d345effc8875d3fec05441b77a36b6
Due: none

chore(release): 3.4.6 [skip ci]
  packages/libraries.io/CHANGELOG.md
  packages/libraries.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  5ca8a10fe64343658faf28c2e6af138716768813
Due: none

chore(release): 2.4.6 [skip ci]
  packages/npms.io/CHANGELOG.md
  packages/npms.io/package.json
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  a6b84e12384e1aceb3bc1c4cec4b9a1ee7dc636d
Due: none
